{% extends "error_page.html" %}

{% block error_flavor_title %}And Just Where Do You Think You're Going?{% endblock %}
{% block error_flavor_text %}
	<p>Hold it right there!  What do you think you're doing?  You think you can just barge in and do whatever?  You should really be more considerate of other ponies' privacy.  Just because you know where "{{bad_url}}" is, doesn't mean you're supposed to look at it.  You should be ashamed of yourself!</p>
	<p>Now I want you to <a href="/">go home</a> and think about what you've done.</p>
	<p><sub>Umm, I mean, if you're not too busy or anything.</sub></p>
	<p><sub><em>Did you see that?  I was so assertive!  I'm so proud of myself I could scream!</em></sub></p>
	<p><sub><em>*squeak!*</em></sub></p>
{% endblock %}

{% block error_image %}angry_fluttershy.gif{% endblock %}
{% block error_image_alt %}Angry Fluttershy{% endblock %}
{% block error_image_title %}How dare you intrude on Fluttershy's privacy!{% endblock %}
{% block error_image_credit %}Screen capture from "My Little Pony"{% endblock %}
