{% extends "base.html" %}
{% load humanize %}
{% block title %}{{block.super}} - Natasha's Kitchen - Menu{% if cur_filter %} - {{cur_filter.name}}{% endif %}{% endblock %}
{% block bg_image %}{% include 'sunset/bg_image.html' with bg_tag='personal' %}{% endblock %}

{% block content_left %}
	<div class="transbox fulltext_page">
		<h2>Natasha's Kitchen - Menu{% if cur_filter %} - {{cur_filter.name}}{% endif %}</h2>
		<p>I love to cook, and I love to cook for other people, but sometimes it can be difficult to list and describe everything I can make.  So, this is the list of everything I currently know how to cook, from the simple to the complex (excluding things that require no effort at all, like hot dogs).  This will continually expand as I learn new recipes!  I'm happy to make things outside this list too, that's how I learn, this is simply the list of everything I've tried and already know how to do well, including some recipes of my own design.</p>
	</div>

	<div class="transbox fulltext_page">
		{% if menu_items %}
			<div class="leaf_links_wrapper">
				{% for content_item in menu_items %}
				<div class="leaf_link tall"><div class="item">
					<span class="item_summary_head">
						<span class="item_summary_title">{{content_item.name}}</span><br />
						{{content_item.section.name}}
					</span>
					<span class="item_summary_body">{{content_item.desc}}</span>
					<div class="item_flags">
						{% for flag in content_item.flags.all %}
							<img src="{{MEDIA_URL}}{{flag.icon}}" alt="{{flag.name}}" title="{{flag.name}}" height="16" />&nbsp;
						{% endfor %}
					</div>
				</div></div>
				{% endfor %}
				<br style="clear:left;" />
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content_right %}
	<div class="right_sidebar">
		<div class="transbox right_sidebar_section">
			<h3>Menu Sections</h3>
			{% for filter in filters.sections %}
				<a href="{% url 'deerfood:menu_section' filter.slug %}" class="sidebar_link" title="{{filter.name}}">
					<span class="sidebar_link_title">{{filter.name}}</span>
					<div class="sidebar_link_subtext">{{filter.num_items}} Item{{filter.num_items|pluralize}}</div>
				</a>
			{% endfor %}
		</div>
		
		<div class="transbox right_sidebar_section">
			<h3>Menu Flags</h3>
			{% for filter in filters.flags %}
				<a href="{% url 'deerfood:menu_flag' filter.slug %}" class="sidebar_link" title="{{filter.name}}">
					<img src="{{MEDIA_URL}}{{filter.icon}}" alt="{{filter.name}}" title="{{filter.name}}" class="sidebar_link_img" />
					<span class="sidebar_link_title">{{filter.name}}</span>
					<div class="sidebar_link_subtext">{{filter.num_items}} Item{{filter.num_items|pluralize}}</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}