{% extends "base.html" %}
{% block title %}{{block.super}} - Natasha's Kitchen - Menu{% endblock %}
{% block bg_image %}{% include 'awi_bg/bg_image.html' with tag='personal' %}{% endblock %}

{% block content_left %}
	<div class="transbox fulltext_page">
		<h2>Natasha's Kitchen - Menu</h2>
		<p>I love to cook, and I love to cook for other people, but sometimes it can be difficult to list and describe everything I can make.  So, this is the list of everything I currently know how to cook, from the simple to the complex (excluding things that require no effort at all, like hot dogs).  This will continually expand as I learn new recipes!  I'm happy to make things outside this list too, that's how I learn, this is simply the list of everything I've tried and already know how to do well, including some recipes of my own design.</p>
	</div>

	<div class="transbox fulltext_page">
		{% if menu_items %}
			<div class="leaf_links_wrapper">
				{% for content_item in menu_items %}
				<div class="leaf_link tall"><div class="item">
					<span class="item_summary_head">
						<span class="item_summary_title">{{content_item.name}}</span><br />
						{{content_item.section.name}}
					</span>
					<span class="item_summary_body">{{content_item.desc}}</span>
					<div class="item_flags">
						{% for flag in content_item.flags.all %}
							<img src="{{MEDIA_URL}}{{flag.icon}}" alt="{{flag.key}}" title="{{flag.key}}" height="16" />&nbsp;
						{% endfor %}
					</div>
				</div></div>
				{% endfor %}
				<br style="clear:left;" />
			</div>
		{% endif %}
	</div>
{% endblock %}
