#	Lupinia Studios
#	By Natasha L.
#	www.lupinia.net | github.com/lupinia
#	
#	=================
#	Python Requirements and Dependencies (Dev)
#	This list was manually assembled
#	Include the production requirements
#	=================
-r requirements.txt
#	=================
#	Additional packages only required for dev, not for production
#	=================
django-debug-toolbar<2.0
django-debug-toolbar-line-profiler==0.6.1	# Unmaintained
django-haystack-panel==0.2.1				# Unmaintained
line-profiler
sqlparse
#	=================
#	Requirements for new features in development
#	May change or be removed before pushing to production
#	=================
#	Experimental image duplicate analysis
#	Related to https://github.com/lupinia/awi/issues/264
opencv-python-headless<4.3
numpy
#
#	https://github.com/lupinia/awi/issues/27
geopy<2.0
geographiclib<2.0
#
#	https://github.com/lupinia/awi/issues/64
cryptography>3.0,<3.4
django-rest-auth==0.9.5				# Unmaintained
django-saml2-auth==2.2.1			# Unmaintained
djangorestframework<3.12
djangorestframework-jwt==1.11.0		# Unmaintained
pyOpenSSL<22.0
pysaml2<5.0
defusedxml
#
#	https://github.com/lupinia/awi/issues/343
django-xmlrpc==0.1.8				# Requires manual installation