{% extends "base.html" %}

{% block userinfo %}{% endblock %}

{% block content_left %}
	<div class="left_sidebar loginform" role="form" aria-label="User Login Form">
		{% if not form %}
			<p>Successfully logged out.  <a href="{% url 'django.contrib.auth.views.login' %}">Login again?</a></p>
		{% else %}
			{% if form.non_field_errors %}
				{% for msg in form.non_field_errors %}
					<div class="error error_warning">{{msg|escape}}</div>
				{% endfor %}
			{% endif %}
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				{% csrf_token %}
				<div>
					<div>
						<sub>{{ form.username.label_tag }}</sub>
						{{ form.username }}
						</div>
					<div>
						<sub>{{ form.password.label_tag }}</sub>
						{{ form.password }}
					</div>
				</div>
				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		{% endif %}
	</div>
{% endblock %}