{% extends "base.html" %}
{% block title %}{{block.super}} - Photography, Writing, and Creative Works by Natasha {% if site.name == 'Furry' %}Softpaw{%else%}Lockhart{%endif%}{% endblock %}

{% block content_left %}
<div class="transbox left_sidebar">
{% if content_cms %}
<h4>Newest Written Articles</h4>
<div class="cms_links_large category_one_column">
{% for content_item in content_cms %}
<div class="cms_link"><a href="{% url 'single_page_html' content_item.cat.cached_url content_item.slug %}" title="{{content_item.title}}" {% if content_item.featured %}class="featured"{% elif content_item.adult %}class="adult"{% endif %}>
{% if content_item.featured %}<span class="cms_feature_mark"><img src="{{STATIC_PREFIX}}images/featured.png" alt="Featured" title="Featured" /></span>
{% elif content_item.adult %}<span class="cms_feature_mark"><img src="{{STATIC_PREFIX}}images/mature.png" alt="Mature" title="Contains Mature Content" /></span>{% endif %}
<span class="article_summary_head"><span class="article_summary_title">{{content_item.title}}</span><br /> {{content_item.display_times.0.label}}: {{content_item.display_times.0.timestamp}}</span>
<span class="article_summary_body">{{content_item.body_summary}}</span>
</a></div>
{% endfor %}
<br style="clear:left;" /></div>

{% elif content_links %}
<h4>Newest External Links</h4>
<div class="cms_links_large category_two_columns">
{% for content_item in content_links %}
<div class="cms_link"><a href="{{content_item.url}}" title="{{content_item.title}}" {% if content_item.featured %}class="featured"{% elif content_item.adult %}class="adult"{% endif %}>
{% if content_item.featured %}<span class="cms_feature_mark"><img src="{{STATIC_PREFIX}}images/featured.png" alt="Featured" title="Featured" /></span>
{% elif content_item.adult %}<span class="cms_feature_mark"><img src="{{STATIC_PREFIX}}images/mature.png" alt="Mature" title="Contains Mature Content" /></span>{% endif %}
<span class="article_summary_head"><span class="article_summary_title">{{content_item.title}}</span><br /> Last modified:  {{content_item.timestamp_mod}}</span>
<span class="article_summary_body">{{content_item.desc}}</span>
</a></div>
{% endfor %}
<br style="clear:left;" /></div>
{% endif %}

</div>
{% endblock %}


{% block content_right %}
<div class="right_sidebar">
{% if content_links and content_cms %}
<div class="transbox right_sidebar_section">
	<h4>New External Links</h4>
	{% for content_item in content_links %}
	<a href="{{content_item.url}}" title="{{content_item.title}} - {{content_item.desc}}" class="sidebar_link{% if content_item.featured %} featured{% elif content_item.adult %} adult{% endif %}">
	<span class="sidebar_link_title">{{content_item.title}}</span>
	{% if content_item.featured %}<br /><span class="sidebar_link_subtext">Featured</span>{% elif content_item.adult %}<br /><span class="sidebar_link_subtext">Adult Content</span>{% endif %}</a>
	{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
