{% if 'sidebar' in blockname %}
	{% for subcat in leaves %}
	<a href="{% url 'category' subcat.cached_url %}" title="{{subcat.title}} - {{subcat.summary}}" class="sidebar_link">
		<span class="sidebar_link_title">{{subcat.title}}</span>
		{% if subcat.featured and highlight_featured %}
			<br />
			<span class="sidebar_link_subtext">Featured</span>
		{% elif subcat.mature %}
			<br />
			<span class="sidebar_link_subtext">Mature Content</span>
		{% endif %}
	</a>
	{% empty %}
		<div><sub><em>No Subcategories</em></sub></div>
	{% endfor %}
	
{% elif 'main' in blockname %}
<div class="leaf_links_wrapper">
	{% for subcat in leaves %}
		<div class="leaf_link midheight">
			<a href="{% url 'category' subcat.cached_url %}" title="{{subcat.title}}">
				{% if link.mature %}<span class="item_feature_mark"><img src="{{STATIC_PREFIX}}images/icons/mature24.png" alt="Mature" title="Contains Mature Content" /></span>{% endif %}
				<span class="item_summary_head"><span class="item_summary_title">{{subcat.title}}</span></span><br />
				<span class="item_summary_body">{{subcat.summary}}</span>
			</a>
		</div>
	{% empty %}
		<div><sub><em>No Subcategories</em></sub></div>
	{% endfor %}
<br style="clear:left;" />
</div>
{% endif %}