{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% if can_edit %}
	<div class="hovericons16">
		{% if object.public_domain %}
			<a href="{% url edit_url object.pk %}"><img src="{{ STATIC_PREFIX }}images/icons/public-domain-16.png" alt="Public Domain" title="This content has been released into the public domain" /></a> 
		{% endif %}
		<a href="?{{object.featured|yesno:'unfeature,feature'}}=1" title="{{object.featured|yesno:'Unfeature,Feature'}} this item"><img src="{{ STATIC_PREFIX }}images/icons/{{object.featured|yesno:',un'}}featured16.png" alt="{{object.featured|yesno:',Not '}}Featured" title="{{object.featured|yesno:',Not '}}Featured" /></a> 
		{% if object.scheduled %}
			<a href="?unpublish=1" title="Unpublish this item"><img src="{{ STATIC_PREFIX }}images/icons/publish-scheduled.png" alt="Scheduled - Will be published on {{object.timestamp_post|date:'F j, Y  G:i:s'}}" title="Scheduled - Will be published on {{object.timestamp_post|date:'F j, Y  G:i:s'}}" /></a> 
		{% else %}
			<a href="?{{object.published|yesno:'unpublish,publish'}}=1" title="{{object.published|yesno:'Unpublish,Publish'}} this item"><img src="{{ STATIC_PREFIX }}images/icons/publish-{{object.published|yesno:'on,off'}}.png" alt="{{object.published|yesno:',Not '}}Published" title="{{object.published|yesno:',Not '}}Published" /></a> 
		{% endif %}
		{% if return_to %}
			<a href="{% url 'all_cats' %}?return_to={{return_to}}?change_cat="><img src="{{ STATIC_PREFIX }}images/icons/change-folder.png" alt="Move" title="Change Category/Directory" /></a>
		{% endif %}
		{% if edit_url %}
			<a href="{% url edit_url object.pk %}"><img src="{{ STATIC_PREFIX }}images/icons/edit.png" alt="Edit" title="Edit" /></a>
		{% endif %}
		{% if not external_links and not no_link_add %}
			<a id="admin_add_ext_link" href="{% url 'admin:deertrees_external_link_add' %}?parent={{object.pk}}&_popup=1" title="Add External Platform Link" onclick="window.open('{% url 'admin:deertrees_external_link_add' %}?parent={{object.pk}}&_popup=1', 'add_ext_link', 'height=500,width=800,resizable=yes,scrollbars=yes')"><img src="{{STATIC_PREFIX}}images/icons/add-link.png" alt="Add an external platform link" title="Add an external platform link" /></a>
			<script>document.getElementById('admin_add_ext_link').href = "#";</script>
		{% endif %}
	</div>
{% endif %}
