{% extends "base.html" %}
{% block title %}{{block.super}} - {% if homepage %}Photography, Writing, and Creative Works by {% include 'authorname.txt' %}{% else %}{{object.title}}{% endif %}{% endblock %}
{% block bg_image %}{% if homepage or not object.background %}{{block.super}}{% else %}{% include 'awi_bg/bg_image.html' with tag=object.background %}{% endif %}{% endblock %}

{% block content_left %}
	{% if homepage %}
		{% if error %}
			{% load errors %}
			<div class="transbox left_sidebar">{% error_display error %}</div>
		{% endif %}
	{% elif object.desc %}
		{% if object.content_priority == "desc" %}
			<div class="transbox fulltext_page">
				<div id="fulltext_page_title"><div id="fulltext_page_title_main"><h2>{{object.title}}</h2></div></div>
		{% else %}
			<div class="transbox left_sidebar">
				<h2>{{object.title}}</h2>
			</div>
			<div class="transbox fulltext_page">
		{% endif %}
		
			<div {% if object.content_priority == "desc" %}class="fulltext_page_body"{% endif %}>
			{% if error %}
				{% load errors %}
				{% error_display error %}
				<br /><hr /><br />
			{% endif %}
			{% autoescape off %}
			{% if "<p>" in object.desc or "<br" in object.desc %}
				{{object.desc}}
			{% else %}
				{{object.desc|linebreaks}}
			{% endif %}
			{% endautoescape %}
			</div>
		</div>
	{% else %}
		<div class="transbox left_sidebar">
			<h2>{{object.title}}</h2>
			{% if object.summary %}
				<div>{{object.summary}}</div>
			{% endif %}

			{% if error %}
				{% load errors %}
				<br /><hr /><br />
				{% error_display error %}
			{% endif %}
		</div>
	{% endif %}

	{% if error != "cat_empty" %}
		{% if main_full_1 %}
			<div class="transbox fulltext_page">
				<h3>{{main_full_1.title}}</h3>
				{% include main_full_1.template with leaves=main_full_1.data blockname="main_full_1" highlight_featured=highlight_featured only %}
			</div>
		{% endif %}

		{% if main_full_2 %}
			<div class="transbox fulltext_page">
				<h3>{{main_full_2.title}}</h3>
				{% include main_full_2.template with leaves=main_full_2.data blockname="main_full_2" highlight_featured=highlight_featured only %}
			</div>
		{% endif %}

		{% if main_half %}
			{% for main_block in main_half %}
				<div class="transbox left_sidebar">
					<h4>{{main_block.title}}</h4>
					{% include main_block.template with leaves=main_block.data blockname="main_half" highlight_featured=highlight_featured only %}
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content_right %}
	{% if sidebar %}
		<div class="right_sidebar">
		{% for sidebar_block in sidebar %}
			<div class="transbox right_sidebar_section">
			<h4>{{sidebar_block.title}}</h4>
			{% include sidebar_block.template with leaves=sidebar_block.data blockname="sidebar" highlight_featured=highlight_featured only %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}