{% extends "base.html" %}
{% block bg_image %}{% if homepage %}{{block.super}}{% else %}{% include 'sunset/bg_image.html' %}{% endif %}{% endblock %}
{% load errors %}

{% block content_left %}
	{% if not homepage %}{% if not error or error == "cat_empty" %}
		{% if can_edit %}
			<div class="left_sidebar admin_options">
				{% include 'deertrees/adminlinks.html' %}
			</div>
		{% endif %}
		<div class="{% if body_text and object.desc and not desc_in_block %}left_full{% else %}left_sidebar{% endif %}">
			<h2>{{object}}</h2>
			{% if body_text and not desc_in_block %}
				<div>
					{% include 'deertrees/leaves_desc.html' %}
				</div>
			{% endif %}
		</div>
	{% endif %}{% endif %}
	
	{% if error %}
		<div class="left_sidebar">
			{% error_display error %}
			{% if embed_mature_form %}
				{% include 'awi_access/age_form_iframe.html' %}
			{% endif %}
		</div>
	{% endif %}
	
	{% if error != "cat_empty" %}
		{% if main_left or main_right %}
			{% if main_left and not main_right %}
				{% for main_block in main_left %}
					{% if homepage %}
						<div class="left_sidebar">
							{% if main_block.title %}<h4>{{main_block.title}}</h4>{% endif %}
							{% include main_block.template with leaves=main_block.data blockname="main_half" highlight_featured=highlight_featured homepage=homepage only %}
						</div>
					{% else %}
						<div class="left_full">
							{% if main_block == 'desc' %}
								<div class="page_body_text">
									{% include 'deertrees/leaves_desc.html' %}
								</div>
							{% else %}
								{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
								{% include main_block.template with leaves=main_block.data blockname="main" highlight_featured=highlight_featured homepage=homepage only %}
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			{% elif main_right and not main_left %}
				{% for main_block in main_right %}
					{% if homepage %}
						<div class="left_sidebar">
							{% if main_block.title %}<h4>{{main_block.title}}</h4>{% endif %}
							{% include main_block.template with leaves=main_block.data blockname="main_half" highlight_featured=highlight_featured homepage=homepage only %}
						</div>
					{% else %}
						<div class="left_full">
							{% if main_block == 'desc' %}
								<div class="page_body_text">
									{% include 'deertrees/leaves_desc.html' %}
								</div>
							{% else %}
								{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
								{% include main_block.template with leaves=main_block.data blockname="main" highlight_featured=highlight_featured homepage=homepage only %}
							{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="left_split">
					<div class="left_column">
						{% if main_left %}
							{% for main_block in main_left %}
								<div>
									{% if main_block == 'desc' %}
										<div class="page_body_text">
											{% include 'deertrees/leaves_desc.html' %}
										</div>
									{% else %}
										{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
										{% include main_block.template with leaves=main_block.data blockname="main_left" highlight_featured=highlight_featured homepage=homepage only %}
									{% endif %}
								</div>
							{% endfor %}
						{% else %}
							<br />
						{% endif %}
					</div>
					<div class="right_column">
						{% if main_right %}
							{% for main_block in main_right %}
								<div>
									{% if main_block == 'desc' %}
										<div class="page_body_text">
											{% include 'deertrees/leaves_desc.html' %}
										</div>
									{% else %}
										{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
										{% include main_block.template with leaves=main_block.data blockname="main_right" highlight_featured=highlight_featured homepage=homepage only %}
									{% endif %}
								</div>
							{% endfor %}
						{% else %}
							<br />
						{% endif %}
					</div>
					<div class="clearfix clear_both"></div>
				</div>
			{% endif %}
		{% endif %}
		
		{% if main %}
			{% for main_block in main %}
				{% if homepage %}
					<div class="left_sidebar">
						{% if main_block.title %}<h4>{{main_block.title}}</h4>{% endif %}
						{% include main_block.template with leaves=main_block.data blockname="main_half" highlight_featured=highlight_featured homepage=homepage only %}
					</div>
				{% else %}
					<div class="left_full">
						{% if main_block == 'desc' %}
							<div class="page_body_text">
								{% include 'deertrees/leaves_desc.html' %}
							</div>
						{% else %}
							{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
							{% include main_block.template with leaves=main_block.data blockname="main" highlight_featured=highlight_featured homepage=homepage only %}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		
		{% if main_2 %}
			{% for main_block in main_2 %}
				{% if homepage %}
					<div class="left_sidebar">
						{% if main_block.title %}<h4>{{main_block.title}}</h4>{% endif %}
						{% include main_block.template with leaves=main_block.data blockname="main_half" highlight_featured=highlight_featured homepage=homepage only %}
					</div>
				{% else %}
					<div class="left_full">
						{% if main_block.title %}<h3>{{main_block.title}}</h3>{% endif %}
						{% include main_block.template with leaves=main_block.data blockname="main" highlight_featured=highlight_featured homepage=homepage only %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}
{% endblock %}

{% block content_right %}
	{% if sidebar or can_edit %}
		{% for sidebar_block in sidebar %}
			<div class="right_sidebar_section">
			{% if sidebar_block.title %}<h4>{{sidebar_block.title}}</h4>{% endif %}
			{% include sidebar_block.template with leaves=sidebar_block.data blockname="sidebar" highlight_featured=highlight_featured homepage=homepage only %}
			</div>
		{% endfor %}
		
		{% include 'awi_access/access_code_widget.html' %}
	{% endif %}
{% endblock %}