{% extends "base.html" %}
{% block title %}{{block.super}} - {% if return_to %}Select a Tag{% else %}All Tags{% endif %}{% endblock %}

{% block content_left %}
	<div class="transbox left_sidebar">
		{% if perms.deertrees.change_tag %}
			<div class="admin_options">
				<div class="hovericons16">
					<a href="{% url 'admin:deertrees_tag_add' %}" title="Add New Tag"><img src="{{ STATIC_PREFIX }}images/icons/add.png" alt="Add Tag" title="Add New Tag" /></a>
				</div>
			</div>
		{% endif %}
		<h2>{% if return_to %}Select a Tag{% else %}All Tags{% endif %}</h2>
		<div style="clear:right;"><p>This is a list of all tags defined in the system.{% if return_to %}  Click a tag to select it.{% endif %}</p></div>
		{% if error %}
			{% load errors %}
			<br /><hr /><br />
			{% error_display error %}
		{% endif %}
	</div>

	{% if error != "no_tags" %}
		<div class="transbox fulltext_page">
			<h2>All Tags</h2>
			<div class="leaf_links_wrapper">
			{% for tag in tags %}
				<div class="leaf_link short">
					<a href="{% if return_to %}{{return_to}}{{tag.pk}}{% else %}{% url 'tag' tag.slug %}{% endif %}" title="{{tag}}">
						<span class="item_summary_head"><span class="item_summary_title">{{tag}}</span></span>
					</a>
				</div>
			{% endfor %}
			<br style="clear:left;" />
			</div>
		</div>
	{% endif %}
{% endblock %}