{% extends "base.html" %}

{% block content_left %}
	<div class="left_sidebar">
		{% if perms.deertrees.change_tag %}
			<div class="admin_options">
				<div class="hovericons16">
					<a href="{% url 'admin:deertrees_tag_add' %}" title="Add New Tag"><img src="{{ STATIC_PREFIX }}images/icons/add.png" alt="Add Tag" title="Add New Tag" /></a>
				</div>
			</div>
		{% endif %}
		<h2>{{title_page}}</h2>
		<div class="clearfix clear_left"></div>
		<p>This is a list of all tags defined in the system.{% if return_to %}  Click a tag to select it.{% endif %}</p>
		{% if error %}
			<br /><hr /><br />
			{% include 'includes/errors.html' %}
		{% endif %}
	</div>

	{% if error != "no_tags" %}
		<div class="left_full">
			<h2>All Tags</h2>
			<div class="leaf_links_wrapper">
			{% for tag in tags %}
				<div class="leaf_link short">
					<a class="leaf_a {% if not tag.sitemap_include or tag.num_leaves < 1 %}restricted{% endif %}" href="{% if return_to %}{{return_to}}{{tag.pk}}{% else %}{% url 'tag' tag.slug %}{% endif %}" title="{{tag}} ({% if tag.num_leaves %}{{tag.num_leaves}} Item{{tag.num_leaves|pluralize}}{% else %}Empty Tag{% endif %})">
						<span class="item_summary_head"><span class="item_summary_title">{{tag}}</span></span>
					</a>
				</div>
			{% endfor %}
			<div class="clearfix clear_left"></div>
			</div>
		</div>
	{% endif %}
{% endblock %}