//	Lupinia Studios Main Theme - "Showcase"
//	SASS Color Variables
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

$color_maintext:  #fff2ff;
$color_subtext:  #c3beff;
$color_breadcrumbs:  #ddc0ff;
$color_alink:  #bbbbff;
$color_afocus:  #ffffff;
$color_shadow:  #2a2038;
$color_border:  #776699;

$color_bgtrans:  rgba(42, 24, 60, 0.85);
$color_bgtrans_solid:  #2A183C;
$color_bgtrans_dark:  rgba(25, 7, 43, 0.8);
$color_bgdark: #19072b;

$color_bg_hover:  #5b4a71;
$color_bg_hover_blue:  #5b4aFF;
$color_bg_hover_grey:  #5b6364;
$color_bg_hover_red:  #c0283a;

$color_bg_leaf_hover:  #3b3149;
$color_bg_leaf_featured:  #211140;
$color_bg_leaf_featured_hover:  #3b316b;
$color_bg_leaf_mature:  #3b2038;
$color_bg_leaf_mature_hover:  #4c3149;

$color_border_err_crit:  #AA5555;
$color_bg_err_crit:  rgba(100, 0, 0, 0.25);
$color_text_err_crit:  #FFAAAA;
$img_bg_err_crit:  url(http://cdn.fur.vc/awi-hagata/images/icons/error.png);

$color_border_err_warn:  #AA8855;
$color_bg_err_warn:  rgba(100, 50, 0, 0.25);
$color_text_err_warn:  #FFCCAA;
$img_bg_err_warn:  url(http://cdn.fur.vc/awi-hagata/images/icons/warning.png);

$color_border_err_info:  #5555AA;
$color_bg_err_info:  rgba(0, 0, 100, 0.25);
$color_text_err_info:  #AAAAFF;
$img_bg_err_info:  url(http://cdn.fur.vc/awi-hagata/images/icons/info.png);
