@charset "utf-8";
/*
	Lupinia Studios
	Main Theme - "Showcase"
	By Natasha L.
	www.lupinia.net | github.com/lupinia
*/

/*	Large screens (height)	*/
@media screen and (min-height: 1000px) {
	#mainwrap {
		height:1000px;
		min-height:inherit !important;
	}
	
	#content_area {
		height:80%;
		overflow:auto;
		margin-bottom:10px;
		max-width:1700px;
	}
	
	body {
		background-position:top center !important;
	}
}

@media screen and (max-width: 1150px) {
	header {
		box-shadow:-1px 1px 3px 1px #2a2038;
		background:rgba(42, 24, 60, 0.85);
		height:130px;
		position:relative;
		min-width:720px;
	}
	
	header .transbox {
		box-shadow:none;
		background:none;
	}
	
	header nav {
		position:absolute;
		bottom:0px;
		right:0px;
		background:rgba(42, 24, 60, 0.85) !important;
		border-bottom-left-radius:inherit !important;
		border-top-left-radius:10px;
	}
	
	.fulltext_page {
		width:70% !important;
	}
	
	header #header_logo {
	}
}

@media screen and (max-width: 1150px) and (min-height: 1000px) {
	#content_area {
		height:75%;
	}
}

html {
	width:100%;
	height:100%;
}

body {
	background:#190f27;
	color:#fff2ff;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family:Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
	font-size:medium;
	background-attachment:fixed;
	background-position:center center;
	background-repeat:no-repeat;
}

a:link, a:visited {
	color:#bbbbff;
	text-decoration:underline;
}

a:hover, a:active {
	color:#ffffff;
	text-decoration:none;
}

#mainwrap {
	max-width:1700px;
	width:100%;
	min-height:100%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#content_area {
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:50px;
}



#header_logo {
	margin:0px;
	padding:5px;
	width:400px;
	border-bottom-right-radius:10px;
}

#header_logo #sig_image {
	margin-left:15px;
	margin-top:0px;
}

.transbox {
	box-shadow:-1px 1px 3px 1px #2a2038;
	background:rgba(42, 24, 60, 0.85);
/*	background:url(http://cdn.fur.vc/lup/images/purple/bg-dark.png);
	background-repeat:repeat; */
}

.transbox hr {
	border:none;
	border-bottom:1px solid #776699;
	margin:1px;
	height:1px;
	margin-left:20px;
	margin-right:20px;
}

h1,h2,h3,h4,h5,h6 {
	margin:2px;
	padding:0px;
}

.transbox h2 {
	font-size:x-large;
}

.left_sidebar {
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin:10px;
	margin-top:5px;
	margin-left:0px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	max-width:390px;
}

.right_sidebar {
	float:right;
	margin:10px;
	margin-top:5px;
	margin-right:0px;
	width:180px;
	clear:right;
}

.right_sidebar_section {
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	margin:0px;
	margin-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.right_sidebar_section h4 {
	margin-bottom:5px;
}

.fulltext_page {
	width:60%;
	min-width:400px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin:10px;
	margin-top:5px;
	margin-left:0px;
	padding:10px;
}

.errorpage {
	width:580px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	margin:10px;
	margin-top:5px;
	margin-left:0px;
	padding:10px;
}

.errorpage .errorpage_image {
	text-align:center;
}

.fulltext_page #byline {
	font-size:x-small;
}

#fulltext_page_title_extra .secondary_time {
	font-size:xx-small;
}

.fulltext_page .fulltext_page_body {
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
	background:#19072b;
	margin-top:10px;
	margin-bottom:0px;
}

#fulltext_page_title {
	position:relative;
}

#fulltext_page_title_main {
}

#fulltext_page_title_extra {
	width:170px;
	text-align:right;
	margin:2px;
	position:absolute;
	right:5px;
}

.cms_link .menu_item {
	position:relative;
}

.cms_link .menu_item .menu_item_flags {
	position:absolute;
	bottom:5px;
}

.cms_link a, a.sidebar_link, .cms_link .menu_item {
	display:block;
	text-align:left;
	border:none;
	text-decoration:none;
	font-weight:normal;
	border-radius: 5px;
}

a.sidebar_link {
	margin-bottom:5px;
	margin-top:3px;
	padding:5px;
}

a.sidebar_link .sidebar_link_subtext {
	font-size:x-small;
}

a.sidebar_link .sidebar_link_title {
	color:#fff2ff !important;
}

.cms_link a, .cms_link .menu_item {
	padding:7px;
	font-size:small;
	z-index:5;
	height:100%;
	width:100%;
}

.cms_links_large, .cat_links_large {
	padding-bottom:10px;
	padding-left:0px;
	margin-left:-10px;
	margin-right:-10px;
}

.cms_links_large .cms_link {
	height:120px;
	width:46%;
	min-width:350px;
	float:left;
	margin:12px;
	padding:0px;
}

.cat_links_large .cms_link {
	height:60px;
	width:46%;
	min-width:300px;
	float:left;
	margin:12px;
	padding:0px;
}

.article_summary_head {
	font-style:italic;
	font-size:x-small;
	margin-bottom:2px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:80%;
	display:inline-block;
}

.article_summary_head .article_summary_title {
	font-weight:bold;
	font-style:normal;
	font-size:large;
	color:#fff2ff !important;
}

.article_summary_body {
	max-height:80px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:block;
}

.cms_feature_mark {
	float:right;
	margin:0px;
	padding:0px;
	width:40px;
	height:40px;
}

.cms_feature_mark img {
	width:40px;
	height:40px;
}

a.article_summary_link:hover, a.article_summary_link:active {
	text-decoration:none;
}


.cms_link a:link, .cms_link a:visited, a.sidebar_link:link, a.sidebar_link:visited, .cms_link .menu_item {
	background:#19072b;
	color:#c3beff;
}

.cms_link a:hover, .cms_link a:active, a.sidebar_link:hover, a.sidebar_link:active {
	background-color:#3b3149;
	color:#c3beff;
}

.cms_link a.featured:link, .cms_link a.featured:visited, a.sidebar_link.featured:link, a.sidebar_link.featured:visited {
	background:#211140;
	color:#c3beff;
}

.cms_link a.featured:hover, .cms_link a.featured:active, a.sidebar_link.featured:hover, a.sidebar_link.featured:active {
	background:#3b316b;
	color:#c3beff;
}

.cms_link a.adult:link, .cms_link a.adult:visited, a.sidebar_link.adult:link, a.sidebar_link.adult:visited {
	background:#3b2038;
	color:#c3beff;
}

.cms_link a.adult:hover, .cms_link a.adult:active, a.sidebar_link.adult:hover, a.sidebar_link.adult:active {
	background:#4c3149;
	color:#c3beff;
}

.error {
	margin:3px;
	padding:5px;
	border: 1px solid;
	border-radius:5px;
}

.error_warning {
	background-color:rgba(100, 50, 0, 0.25);
	color:#FFCCAA;
	border-color:#AA8855;
}

.error_critical {
	background-color:rgba(100, 0, 0, 0.25);
	color:#FFAAAA;
	border-color:#AA5555;
}

.error_notice {
	background-color:rgba(0, 0, 100, 0.25);
	color:#AAAAFF;
	border-color:#5555AA;
}


.loginform {
	width:170px;
}

header nav {
	margin:0px;
	padding:0px;
	float:right;
	padding-right:10px;
	padding-bottom:3px;
	border-bottom-left-radius:10px;
}

.hoverlinks a:link, .hoverlinks a:visited, .hoverlinks a:hover, .hoverlinks a:active  {
	display:block;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
}

.hoverlinks a:link img, .hoverlinks a:visited img {
	visibility:hidden;
}

.hoverlinks a:hover img, .hoverlinks a:active img {
	visibility:inherit;
}

.hoverlinks a:hover, .hoverlinks a:active {
	background:none !important;
}

header nav a#header_nav_first:link, header nav a#header_nav_first:visited, header nav a#header_nav_first:hover, header nav a#header_nav_first:active  {
	width:180px !important;
	height:30px !important;
	float:left;
}

header nav a:link, header nav a:visited, header nav a:hover, header nav a:active  {
	width:130px !important;
	height:30px !important;
	float:left;
}

#social_icons {
	display: inline-block;
	float: right;
	margin: 0px;
	margin-right:15px;
	margin-top:2px;
	padding: 0px;
}

.page_icons {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	width:130px;
	line-height:28px;
}


.hovericons16 a {
	width:16px !important;
	height:16px !important;
	display:inline-block;
	padding:3px;
	border-radius:3px;
}

.hovericons16 a:link, .hovericons16 a:visited  { background:none; }
.hovericons16 a:hover, .hovericons16 a:active, .hovericons16 a:focus { background:#5b4a71; }

.hovericons32 a {
	width:32px !important;
	height:32px !important;
	display:inline-block;
	margin:1px;
	padding:3px;
	border-radius:5px;
}

.hovericons32 a:link, .hovericons32 a:visited  { background:#5b4a71; }
.hovericons32 a:hover, .hovericons32 a:active, .hovericons32 a:focus { background:#5b4aFF; }	/*	Default to blue	*/

.hovericons32 a.grey:hover, .hovericons32 a.grey:active, .hovericons32 a.grey:focus { background:#5b6364; }
.hovericons32 a.red:hover, .hovericons32 a.red:active, .hovericons32 a.red:focus { background:#c0283a; }

footer {
	width:100%;
	height:35px;
	bottom:0;
	position:absolute;
	margin-right:-10px;
	padding-top:3px;
	padding-bottom:3px;
	font-size:small;
	font-style:italic;
}

footer div {
	margin-left:10px;
	margin-right:10px;
}

footer #footer-right {
	float:right;
	text-align:right;
}

footer .lower {
	font-size:x-small;
}
