{% load humanize %}

{% if can_edit and not object.is_public.0 and not no_access_codes %}
	{% if object.access_code and object.access_code.valid %}
		<div class="right_sidebar_section copypaste_boxes">
			<h3>Access Codes</h3>
			<label for="access_code_field">{% if object.access_code.expiration_date %}Valid until {{object.access_code.expiration_date|date:'F j, Y  G:i:s'}}{% else %}Permanent code{% endif %} - {% if object.access_code.hits %}Used {{object.access_code.hits}} time{{object.access_code.hits|pluralize}}{% else %}Not yet used{% endif %}</label>
			<input type="text" name="access_code_field" id="access_code_field" readonly="readonly" value="https://{{domain_name}}{{object.get_absolute_url}}?access_code={{object.access_code.code}}">
			<a class="sidebar_link" href="?alitelvdi=accessrevoke&amp;diyosdi={{object.access_code.pk}}">Revoke this code</a>
		</div>
	{% endif %}
	<div class="right_sidebar_section access_code_generators">
		<h3>Create Access Code</h3>
		<p>An access code in the URL for this item will bypass any access restrictions for it, for anyone who has the code.  Use with caution!
		{% if object.access_code and object.access_code.valid %}
			<br /><strong>Note:</strong>  This will invalidate any existing codes for this item.
		{% endif %}
		</p>
		
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=1">1 day</a>
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=2">2 days</a>
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=5">5 days</a>
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=7">7 days (1 week)</a>
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=14">14 days (2 weeks)</a>
		<a class="sidebar_link" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=30">30 days (1 month)</a>
		<a class="sidebar_link mature" href="?alitelvdi={% if object.access_code and object.access_code.valid %}accessreset&amp;diyosdi={{object.access_code.pk}}{% else %}accessgrant{% endif %}&amp;sesdi=permanent">Permanent
			<br />
			<span class="sidebar_link_subtext"><em><strong>Warning:</strong>  A permanent code will not expire, it must be manually revoked.</em></span>
		</a>
	</div>
{% endif %}