//	Lupinia Studios Main Theme - "Showcase"
//	App-Specific SASS Stylesheet - DeerBooks
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

/*	App:  DeerBooks	*/
.page_icons {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	margin-bottom:5px;
	width:130px;
	line-height:28px;
}

body.showcase_mode .left_content .left_full.writing_page { max-width:80em; }

.left_content .left_full.writing_page .page_body_text {
	body.showcase_mode & { 
		font-size:1.15em;
		background:$color_bgwhite;
		color:$color_bgdark;
		
		a:link, a:visited { color:$color_blue; }
		a:hover, a:active, a:focus { color:$color_red; }
		
		code { color:$color_border; }
		fieldset legend { color:$color_border; }
		.error { background-color:$color_bgdark; }
	}
	
	code { color:$color_breadcrumbs; }
	
	/* Custom CSS for resume */
	.resume {
		padding-top:10px;
		
		.infobox_right {
			max-width:200px;
			font-size:0.9em;
			border-radius:0px;
			margin-top:0px;
			
			ul li { margin-bottom: 7px !important; }
			h4 { font-variant: small-caps; }
		}
		
		fieldset ul {
			margin:0px;
			padding-left:0px;
			list-style-type:none;
			
			li {
				margin-bottom:7px;
			}
		}
		
		fieldset.resume-joblist {
			.job {
				border-bottom:1px solid $color_border;
				margin-bottom:10px;
				
				&:last-child {
					border-bottom:none;
					margin-bottom:none;
				}
				
				.job-head {
					.job-dates { float:right; font-size:smaller; font-variant: small-caps; text-align:right; display:block; }
					.job-title { font-weight:bold; }
					.job-employer { font-weight:bold; font-size:larger; }
				}
				
				.job-detail { 
					clear:right;
					
					.job-detail-link { 
						font-size:x-small;
						font-style:italic;
						display:block;
						margin-top:3px;
						
						a { font-weight:bold; }
						a:link, a:visited { text-decoration:none; }
						a:hover, a:active, a:focus { text-decoration:underline; }
					}
					
					.job-detail-list {
						padding-left:20px;
						list-style-type:square;
					}
				}
			}
		}
	}
}
/*	=====	*/
