/*	Lupinia Studios Main Theme - "Showcase"	*/
//	Base SASS Stylesheet
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

@import 'colors';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=latin-ext');
@import url('http://fonts.googleapis.com/earlyaccess/notosanscherokee.css'); 


//	Primary Structure
html {
	width:100%;
	height:100%;
}

body {
	color: $color_maintext;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-family: $font_en;
	font-size:small;
}

.chr { font-family: $font_chr; font-size:1.1em; }

//	Look and Feel
.transbox {
	@include transbox_style;
}

h1,h2,h3,h4,h5,h6 {
	margin:2px;
	padding:0px;
}

fieldset {
	display:block;
	padding:5px;
	margin-bottom:15px;
	border:1px solid $color_bg_leaf_hover;
	padding-left:10px;
	padding-right:10px;
	
	legend {
		color:$color_subtext;
		font-variant: small-caps;
		padding-left:0px;
	}
	
	ul {
		margin:0px;
		padding-left:0px;
		list-style-type:none;
		
		li {
			margin-bottom:7px;
		}
	}
}

//	=====


//	Links and Link Accessories
a { @include default_links; }

.hoverimgs {
	a {
		display:block;
		margin:0px;
		padding:0px;
		background-repeat:no-repeat;
		
		&:link, &:visited {
			img { visibility:hidden; }
		}
		
		&:hover, &:active, &:focus {
			background:none !important;
			img { visibility:inherit; }
		}
	}
}

.hovericons16 { @include hovericons(16px,none,$color_bg_hover,3px); }
.hovericons24 { @include hovericons(24px,none,$color_bg_hover); }
.hovericons32 { @include hovericons(32px,$color_bg_hover,$color_blue); }
//	=====


//	Fixing Floats for Fun and Profit
.clearfix {
	height:1px;
	width:1px;
	display:block;
	content:" ";
	
	&.clear_right { clear:right; }
	&.clear_left { clear:left; }
	&.clear_both { clear:both; }
	&.float_left { float:left; }
	&.float_right { float:right; }
}
//	=====


/*	Errors	*/
.error_critical { @include error($color_border_err_crit, $color_bg_err_crit, $color_text_err_crit, $img_bg_err_crit); }
.error_warning { @include error($color_border_err_warn, $color_bg_err_warn, $color_text_err_warn, $img_bg_err_warn); }
.error_notice { @include error($color_border_err_info, $color_bg_err_info, $color_text_err_info, $img_bg_err_info); }
.error_critical_nobg { @include error($color_border_err_crit, $color_bg_err_crit, $color_text_err_crit); padding-left:5px; }
.error_warning_nobg { @include error($color_border_err_warn, $color_bg_err_warn, $color_text_err_warn); padding-left:5px; }
.error_notice_nobg { @include error($color_border_err_info, $color_bg_err_info, $color_text_err_info); padding-left:5px; }

#error_css_20170214, #error_css_20170216 { display:none !important; }
/*	=====	*/
