//	Lupinia Studios Main Theme - "Showcase"
//	SASS Color and Font Variables
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

//	Fonts
$font_en_serif:  Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
$font_en:  'Noto Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font_chr:  'Noto Sans', 'Noto Sans Cherokee', "Digohweli", sans-serif;

//	Screen Sizes
$scr_tall: "screen and (min-height: 1000px)";
$scr_short: "screen and (max-height: 750px)";
$scr_midwidth: "screen and (max-width: 1170px)";
$scr_smallwidth: "screen and (max-width: 800px)";
$scr_mobile: "screen and (max-width: 660px)";
$scr_micro: "screen and (max-width: 400px)";

$scr_and_tall: "and (min-height: 1000px)";

$scr_midwidth_lightbox: "screen and (max-width: 1020px)";
$scr_micro_lightbox: "screen and (max-width: 450px)";


//	Colors

//	Primary Text
$color_maintext:  #fff2ff;
$color_subtext:  #c3beff;
$color_breadcrumbs:  #ddc0ff;


//	Links and Block Links
$color_alink:  #bbbbff;
$color_afocus:  #ffffff;

$color_bg_hover:  #5b4a71;
$color_bg_hover_light:  #756689;

$color_bgbright: #442761;
$color_bgbright_hover: #553861;

$color_bgtrans_leaf:  rgba(25, 7, 43, 0.6);
$color_bg_leaf_hover:  #3b3149;

$color_bgtrans_leaf_featured:  rgba(33, 17, 64, 0.7);
$color_bg_leaf_featured:  #211140;
$color_bg_leaf_featured_hover:  #3b316b;

$color_bgtrans_leaf_mature:  rgba(59, 32, 56, 0.7);
$color_bg_leaf_mature:  #3b2038;
$color_bg_leaf_mature_hover:  #4c3149;

$color_bgtrans_leaf_restricted:  rgba(48, 39, 64, 0.7);
$color_bg_leaf_restricted:  #3b2e20;
$color_bg_leaf_restricted_hover:  #4c3f31;


//	Structural Elements
$color_shadow:  #2a2038;
$color_border:  #776699;
$color_border_subtle:  #665588;


//	Backgrounds
$color_bgtrans:  rgba(42, 24, 60, 0.85);
$color_bgtrans_subtle:  rgba(42, 24, 60, 0.25);
$color_bgtrans_invis:  rgba(42, 24, 60, 0);
$color_bgtrans_solid:  #2A183C;

$color_bgtrans_dark:  rgba(25, 7, 43, 0.9);
$color_bgdark: #19072b;

$color_bgtrans_darker:  rgba(8, 6, 26, 0.6);
$color_bgdarker: #08061a;


//	Showcase Mode
$color_bgshowcase: #110022;
$color_bgshowcase_trans: rgba(0, 0, 0, 0.85);

$color_bgwhite: #fffcff;
$color_bgalt_light:  #fceeff;


//	Errors
$color_border_err_crit:  #AA5555;
$color_bg_err_crit:  rgba(100, 0, 0, 0.25);
$color_text_err_crit:  #FFAAAA;
$img_bg_err_crit:  url(https://cdn.fur.vc/awi-hagata/images/icons/error.png);

$color_border_err_warn:  #AA8855;
$color_bg_err_warn:  rgba(100, 50, 0, 0.25);
$color_text_err_warn:  #FFCCAA;
$img_bg_err_warn:  url(https://cdn.fur.vc/awi-hagata/images/icons/warning.png);

$color_border_err_info:  #5555AA;
$color_bg_err_info:  rgba(0, 0, 100, 0.25);
$color_text_err_info:  #AAAAFF;
$img_bg_err_info:  url(https://cdn.fur.vc/awi-hagata/images/icons/info.png);


//	Other Colors
$color_pink:  #cf53cf;
$color_pink_trans:  rgba(207, 83, 207, 0.6);
$color_blue:  #5b4aFF;
$color_blue_dark:  #3521FF;
$color_blue_hover:  #7D70FF;
$color_grey:  #5b6364;
$color_red:  #c0283a;
$color_green:  #869456;
$color_green_trans:  rgba(134, 148, 86, 0.7);
