//	Lupinia Studios Main Theme - "Showcase"
//	SASS Mixins
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

@mixin error($border,$bgcolor,$color,$bgimg) {
	display:block;
	min-height:45px;
	margin:3px;
	padding:5px;
	padding-left:50px;
	border: 1px solid;
	border-radius:5px;
	background-position:10px 10px;
	background-repeat:no-repeat;
	
	background-image: $bgimg;
	background-color: $bgcolor;
	color: $color;
	border-color: $border;
}

@mixin hovericons($size,$inactive_bg,$active_bg,$border_radius:5px) {
	a {
		width:$size !important;
		height:$size !important;
		display:inline-block;
		padding:3px;
		margin:1px;
		border-radius:$border_radius;
		
		&:link, &:visited {
			background: $inactive_bg;
		}
		
		&:hover, &:active, &:focus {
			background: $active_bg;
		}
		
		&.blue:hover, &.blue:active, &.blue:focus { background: $color_blue; }
		&.red:hover, &.red:active, &.red:focus { background: $color_red; }
		&.grey:hover, &.grey:active, &.grey:focus { background: $color_grey; }
	}
	
	&.hovericons-wide a { padding:5px; }
}

@mixin block_links {
	background:$color_bgdark;
	color:$color_subtext;
	
	&:hover, &:active, &:focus { background-color:$color_bg_leaf_hover; }
	
	&.featured {
		border:1px solid $color_bg_leaf_featured_hover;
		&:link, &:visited { background-color:$color_bg_leaf_featured; }
		&:hover, &:active, &:focus { background-color:$color_bg_leaf_featured_hover; }
	}
	
	&.mature {
		border:1px solid $color_bg_leaf_mature_hover;
		&:link, &:visited { background-color:$color_bg_leaf_mature; }
		&:hover, &:active, &:focus { background-color:$color_bg_leaf_mature_hover; }
	}
}

@mixin transbox_style {
	box-shadow:-1px 1px 3px 1px $color_shadow;
	background: $color_bgtrans;
	
	hr {
		border:none;
		border-bottom:1px solid $color_border;
		margin:1px;
		height:1px;
		margin-left:20px;
		margin-right:20px;
	}
	
	h2 { font-size:x-large; }
}

@mixin default_links($normal_decor:underline,$focus_decor:none) {
	&:link, &:visited {
		color: $color_alink;
		text-decoration:$normal_decor;
	}
	&:hover, &:active, &:focus {
		color: $color_afocus;
		text-decoration:$focus_decor;
	}
	&.boldlink { font-weight: bold; }
}