//	Lupinia Studios Main Theme - "Showcase"
//	SASS Global Variables
//	By Natasha L.
//	www.lupinia.net | github.com/lupinia

//	Fonts
$font_en_serif:  Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
$font_en:  'Noto Sans', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font_chr:  'Noto Sans', 'Noto Sans Cherokee', "Digohweli", sans-serif;

//	Screen Sizes
$scr_tall: "screen and (min-height: 1000px)";
$scr_short: "screen and (max-height: 800px)";
$scr_midwidth: "screen and (max-width: 1170px)";
$scr_smallwidth: "screen and (max-width: 800px)";
$scr_mobile: "screen and (max-width: 660px)";
$scr_micro: "screen and (max-width: 400px)";

$scr_and_tall: "and (min-height: 1000px)";

$scr_midwidth_lightbox: "screen and (max-width: 1020px)";
$scr_micro_lightbox: "screen and (max-width: 450px)";

//	Errors
$img_err_crit:  url(https://cdn.fur.vc/awi-hagata/images/icons/error.png);
$img_err_warn:  url(https://cdn.fur.vc/awi-hagata/images/icons/warning.png);
$img_err_info:  url(https://cdn.fur.vc/awi-hagata/images/icons/info.png);
