{% extends "base.html" %}
{% block title %}{{block.super}} - Access Denied (403){% endblock %}

{% block content_left %}
	<div class="transbox errorpage">
		<h3>And Just Where Do You Think You're Going?  (403)</h3>
		<p class="errorpage_image"><img src="{{STATIC_PREFIX}}images/angry_fluttershy.gif" alt="Angry Fluttershy" title="How dare you intrude on Fluttershy's privacy!" /></p>
		<p>Hold it right there!  What do you think you're doing?  You think you can just barge in and do whatever?  You should really be more considerate of other ponies' privacy.  Just because you know the name of "{{bad_url}}", doesn't mean you're supposed to look at it.  You should be ashamed of yourself.</p>
		<p>Now I want you to <a href="/">go home</a> and think about what you've done.</p>
		<p><sub>Umm, I mean, if you're not too busy or anything.</sub></p>
		<p><sub><em>Did you see that?  I was so assertive!  I'm so proud of myself I could scream!</em></sub></p>
		<p><sub><em>*squeak!*</em></sub></p>
	</div>
{% endblock %}

{% block content_right %}
	<div class="right_sidebar">
		<div class="transbox right_sidebar_section">
			<h3>Other Links</h3>
			<a href="/" title="Home" class="sidebar_link">
				<span class="sidebar_link_title">Home</span>
			</a>
			<a href="/contact" title="Contact" class="sidebar_link">
				<span class="sidebar_link_title">Contact Info</span>
			</a>
			<a href="/about" title="About" class="sidebar_link">
				<span class="sidebar_link_title">About</span>
			</a>
		</div>

		<div class="transbox right_sidebar_section">
			<h3>Error Details</h3>
			<p><em>
				HTTP 403<br />
				Forbidden<br />
				seneca.lupinia.net<br />
				(Django)
			</em></p>
			<p><em><sub>
				<strong>Request:</strong><br />
				{{bad_url}}
			</sub></em></p>
		</div>

		<div class="transbox right_sidebar_section">
			<h4>Image Info</h4>
			<p><em>
				Screen capture from "My Little Pony"
			</em></p>
		</div>

	</div>
{% endblock %}
