{% extends "base.html" %}
{% block cookiebanner %}{% endblock %}

{% block content_left %}
	<div class="errorpage">
		<h3>I'm Sorry...Something's Wrong, and I Couldn't Fix It!  (500)</h3>
		<p class="errorpage_image"><img src="{{STATIC_PREFIX}}images/sad_fluttershy.jpg" alt="Sad Fluttershy" title="Fluttershy is really sad that the site is broken!" /></p>
		<p>I'm really sorry, but there's an error in the site.  I tried so hard to get everything right.  Do you need a hug?</p>
		<p>I notified Natasha to tell her that there's a problem, I'm sure she'll fix it soon.  You can try again in a little while, if that's ok with you, maybe it'll work then.</p>
		<p><sub>I wish I could fix it for you myself...maybe someday...</sub></p>
		<p><strong><em>Oh!</em></strong>  I almost forgot, you can also report problems on GitHub!  All you have to do is <a href="https://github.com/lupinia/awi/issues">open an issue about this</a>, it's really easy!  Just make sure you say a little something about what you were doing, and include this part:  <code>{{error_value}}</code>.</p>
		<p><sub>And, umm, please be nice?  If that's ok with you?</sub></p>
	</div>
{% endblock %}

{% block content_right %}
	<div class="right_sidebar_section">
		<h3>Other Links</h3>
		<a href="/" title="Home" class="sidebar_link">
			<span class="sidebar_link_title">Home</span>
		</a>
		<a href="/contact" title="Contact" class="sidebar_link">
			<span class="sidebar_link_title">Contact Info</span>
		</a>
		<a href="/about" title="About" class="sidebar_link">
			<span class="sidebar_link_title">About</span>
		</a>
	</div>

	<div class="right_sidebar_section">
		<h3>Error Details</h3>
		<p><em>
			HTTP 500<br />
			Internal Server Error<br />
			seneca.lupinia.net<br />
			(Django)
		</em></p>
	</div>

	<div class="right_sidebar_section">
		<h4>Image Info</h4>
		<p><em>
			"Rain Won't Wipe Away the Tears"<br />
			<sub><a href="http://johnjoseco.deviantart.com/art/Rain-Won-t-Wipe-Away-the-Tears-212771889">By John Joseco</a></sub>
		</em></p>
	</div>
{% endblock %}