{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if 'sidebar' in blockname %}
	{% for link in leaves %}
	<a href="{{link.url}}" target="_BLANK" title="{{link.label}} - {{link.name}}" class="sidebar_link {% if link.featured and highlight_featured %}featured{% elif link.mature %}mature{% elif not link.is_public.0 %}notpublic{% endif %}">
		{% if link.icon %}<img src="{{MEDIA_PREFIX}}{{link.icon.name}}" alt="{{link.label}}" title="{{link.label}}" class="sidebar_link_img" />{% endif %}
		<span class="sidebar_link_title">{% if not link.icon %}{{link.label}} - {% endif %}{{link.name}}</span>
		{% if link.im %}
			<div class="sidebar_link_subtext">Messaging System</div>
		{% endif %}
		{% if link.featured %}
			<div class="sidebar_link_subtext">Featured</div>
		{% elif link.mature %}
			<div class="sidebar_link_subtext">Mature Content</div>
		{% endif %}
	</a>
	{% empty %}
		<div><sub><em>No Links</em></sub></div>
	{% endfor %}
	
{% elif 'main' in blockname %}
<div class="leaf_links_wrapper">
	{% for link in leaves %}
		<div class="leaf_link midheight">
			<a class="leaf_a" href="{{link.url}}" target="_BLANK" title="{{link.label}} - {{link.name}}" {% if link.featured and highlight_featured %}class="featured"{% elif link.mature %}class="mature"{% elif not link.is_public.0 %}class="notpublic"{% endif %}>
				{% if link.featured and highlight_featured %}<span class="item_feature_mark"><img src="{{STATIC_PREFIX}}images/icons/featured24.png" alt="Featured" title="Featured" /></span>
				{% elif link.mature %}<span class="item_feature_mark"><img src="{{STATIC_PREFIX}}images/icons/mature24.png" alt="Mature" title="Contains Mature Content" /></span>{% endif %}
				
				<span class="item_summary_head"><span class="item_summary_title">{{link.label}} - {{link.name}}</span><br /> 
					Modified: {{link.timestamp_mod}}
				</span>
				<span class="item_summary_body">{{link.desc}}</span>
			</a>
		</div>
	{% empty %}
		<div><sub><em>No Links</em></sub></div>
	{% endfor %}
<br style="clear:left;" />
</div>
{% endif %}