{% extends "error_page.html" %}

{% block error_flavor_title %}I'm Sorry...I Tried To Find It, I Really Did!{% endblock %}
{% block error_flavor_text %}
	<p>I'm so sorry!  I tried to find "{{old_url}}", but I just don't know where it is.  I looked everywhere!  Please don't be mad!  {% if search_result %}I did find "<a href="{{search_result_url}}">{{search_result_title}}</a>", though, is that what you were looking for?  I wasn't quite sure.</p>
	<p>{% endif %}Would you like to <a href="{% url 'haystack_search' %}?q={{search_query}}">try searching for your request</a>?  Or would you like to <a href="/">return home</a>?  Do you need a hug, or some tea?</p>
{% endblock %}

{% block error_image %}scared_fluttershy.gif{% endblock %}
{% block error_image_alt %}Scared Fluttershy{% endblock %}
{% block error_image_title %}Fluttershy is really sorry we couldn't find your file!{% endblock %}
{% block error_image_credit %}Screen capture from "My Little Pony"{% endblock %}
