{% extends "error_page.html" %}

{% block error_flavor_title %}I Threw That Away{% endblock %}
{% block error_flavor_text %}
		<p>Just doing a little cleaning, and "{{old_url}}" has been permanently removed.  You can <a href="/contact/">contact Natasha</a> to discuss this if you have questions.</p>
		<p><sub>I hope you can forgive me.</sub></p>
{% endblock %}

{% block error_image %}fluttershy-cleaning.gif{% endblock %}
{% block error_image_alt %}Fluttershy Cleaning{% endblock %}
{% block error_image_title %}Doing a little spring cleaning!{% endblock %}
{% block error_image_credit %}Screen capture from "My Little Pony"{% endblock %}
