{% extends "content_page.html" %}

{% block content_body %}
	{% if object and not error %}
		{% if assets.display %}
		<div class="photo_image">
			{% if assets.full %}<a href="{{assets.full.get_url}}" title="Full-Size View">{% endif %}<img src="{{assets.display.get_url}}" alt="{{object}}" title="{{object}}" />{% if assets.full %}</a>{% endif %}
		</div>
		{% endif %}
		
		{% if object.body or object.public_domain %}
			<div class="page_body_text">
				{% autoescape off %}
					{% if object.body %}{{object.body}}{% elif object.summary %}<p>{{object.summary}}</p>{% endif %}
					{% if object.public_domain %}{% if object.body or object.summary %}<hr />{% endif %}
					<p><em>This image has been released into the public domain, and may be freely used by all.</em></p>
					{% endif %}
				{% endautoescape %}
			</div>
		{% endif %}
		
		{% if object.geo_lat and object.geo_long %}
			{% include 'includes/map_embed.html' %}
		{% endif %}
	{% endif %}
{% endblock %}


{% block sidebar_modules %}
	{% if object %}
		{% comment %}<!-- Image Info -->{% endcomment %}
		{% if title_in_sidebar %}
			<div class="right_sidebar_section content_summary">
				<div id="page_title">
					<div id="page_title_main"><h2>{{object}} {% if object.restriction and object.restriction != 'unknown' %}&nbsp;<img src="{{STATIC_PREFIX}}images/icons/restriction-{{object.restriction}}16.png" alt="{{object.restriction|title}}" title="{{object.restriction|title}}" />{% endif %}</h2></div>
					<div id="byline">{{object.display_times.0.label}}:  {{object.display_times.0.timestamp|date:'F j, Y  G:i:s'}}</div>
					{% if can_edit %}
						<div id="page_title_extra">
							{% include 'deertrees/leaf_adminlinks.html' with edit_url='admin:sunset_image_change' %}
						</div>
					{% endif %}
				</div>
				{% if object.summary %}<p>{{object.summary|safe}}</p>{% endif %}
			</div>
		{% endif %}
		
		{% comment %}<!-- External Links -->{% endcomment %}
		{% if external_links %}
			<div class="right_sidebar_section">
				{% if can_edit %}
					<div class="admin_buttons"><div class="hovericons16">
						<a id="admin_add_ext_link" href="{% url 'admin:deertrees_external_link_add' %}?parent={{object.pk}}&_popup=1" title="Add a Tag" onclick="window.open('{% url 'admin:deertrees_external_link_add' %}?parent={{object.pk}}&_popup=1', 'add_ext_link', 'height=500,width=800,resizable=yes,scrollbars=yes')"><img src="{{STATIC_PREFIX}}images/icons/add.png" alt="Add an external platform link" title="Add an external platform link" /></a>
						<script>document.getElementById('admin_add_ext_link').href = "#";</script>
					</div></div>
				{% endif %}
				<h3>External</h3>
				<div class="leaf_external_links hovericons32">
					{% for link in external_links %}
						<a href="{{link.get_absolute_url}}"{% if link.link_type.featured %} class="wide_link featured"{% elif external_links_wide %} class="wide_link"{% endif %} target="_BLANK"><img src="{{link.link_type.icon_url}}" alt="{{link.label}}" title="{{link.label}}" />{% if link.link_type.featured or external_links_wide %}<div class="wide_link_label">{{link.label}}</div>{% endif %}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		
		{% comment %}<!-- Non-Public -->{% endcomment %}
		{% if not error and non_public and title_in_sidebar %}
			<div class="right_sidebar_section non_public_info">
				<h3>Not Public Content</h3>
				<div class="error error_warning_nobg">
					<div><strong>This image is not publicly available.</strong>  Restrictions currently in place:</div>
					<ul>
						{% for reason in non_public %}
							<li>{{reason}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
		
		{% comment %}<!-- Metadata -->{% endcomment %}
		{% if meta %}
			<div class="right_sidebar_section">
				<h3>Metadata</h3>
				<ul class="photo_meta">
					{% for item in meta %}
						<li>
							<h5>{{item.key}}</h5>
							<div>{% if item.key.format_type == 'url' %}{{item.format_data|safe}}{% else %}{{item.format_data}}{% endif %}</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		
		{% comment %}<!-- Embed Codes -->{% endcomment %}
		{% if can_edit %}
			<div class="right_sidebar_section copypaste_boxes">
				<h3>Embed This Image</h3>
					<label for="embed_internal_icon">Thumbnail (Internal)</label>
					<input type="text" name="embed_internal_icon" id="embed_internal_icon" readonly="readonly" value="&lt;sunset id=&quot;{{object.pk}}&quot; type=&quot;icon&quot; /&gt;" />
					
					<label for="embed_internal_display">Display (Internal)</label>
					<input type="text" name="embed_internal_display" id="embed_internal_display" readonly="readonly" value="&lt;sunset id=&quot;{{object.pk}}&quot; type=&quot;display&quot; /&gt;" />
			</div>
		{% endif %}
	{% endif %}
{% endblock %}