{% extends "base.html" %}
{% block title %}{% if object %}{{block.super}} - {{object}}{% else %}{{block.super}}{% endif %}{% endblock %}
{% block desc %}{% if object %}{{object.summary}}{% else %}{{block.super}}{% endif %}{% endblock %}

{% block content_left %}
	{% if object %}
		<div class="transbox photo_page"{% if assets.display %} style="max-width:{{assets.display.img_width}}px;"{% endif %}>
			{% if object.body %}
				<div id="photo_page_title">
					{% if can_edit %}
						<div id="photo_page_title_extra">
							{% include 'deertrees/leaf_adminlinks.html' with edit_url='admin:sunset_image_change' %}
							<span class="secondary_time">{{object.display_times.1.label}}:  {{object.display_times.1.timestamp|date:'F j, Y  G:i:s'}}</span>
						</div>
					{% endif %}

					<div id="photo_page_title_main"><h2>{{object}}</h2>
					<div id="byline">{{object.display_times.0.label}}:  {{object.display_times.0.timestamp|date:'F j, Y  G:i:s'}}</div>
					</div>
				</div>
			{% endif %}
			
			{% if assets.display %}
			<div class="photo_page_image">
				{% if assets.full %}<a href="{{assets.full.get_url}}" title="Full-Size View">{% endif %}<img src="{{assets.display.get_url}}" alt="{{object}}" title="{{object}}" />{% if assets.full %}</a>{% endif %}
			</div>
			{% endif %}
			
			{% if object.body %}
				<div class="photo_page_body">
					{% autoescape off %}
						{% if "<p>" in object.body or "<br />" in object.body %}
							{{object.body}}
						{% else %}
							{{object.body|linebreaks}}
						{% endif %}
					{% endautoescape %}
				</div>
			{% endif %}
			
			{% if object.geo_lat and object.geo_long %}
				{% include 'map_embed.html' %}
			{% endif %}
		</div>
	{% else %}
		<div class="transbox left_sidebar">
			{% load errors %}
			{% error_display error %}
			{% if embed_mature_form %}
				{% include 'awi_access/age_form_iframe.html' %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block content_right %}
	{% if object %}
		<div class="right_sidebar">
			{% comment %}<!-- Image Info -->{% endcomment %}
			{% if not object.body %}
				<div class="transbox right_sidebar_section photo_summary">
					<h3>{{object}}</h3>
					<div class="photo_sidebar_byline">
						<div id="byline">{{object.display_times.0.label}}:  {{object.display_times.0.timestamp|date:'F j, Y  G:i:s'}}</div>
						{% if can_edit %}
							<div id="photo_page_title_extra">
								{% include 'deertrees/leaf_adminlinks.html' with edit_url='admin:sunset_image_change' %}
							</div>
						{% endif %}
					</div>
					{% if object.summary %}<p>{{object.summary|safe}}</p>{% endif %}
				</div>
			{% endif %}
			
			{% comment %}<!-- Metadata -->{% endcomment %}
			{% if meta %}
				<div class="transbox right_sidebar_section">
					<h3>Metadata</h3>
					<ul class="photo_meta">
						{% for item in meta %}
							<li>
								<h5>{{item.key}}</h5>
								<div>{% if item.key.format_type == 'url' %}{{item.format_data|safe}}{% else %}{{item.format_data}}{% endif %}</div>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			
			{% comment %}<!-- Tags -->{% endcomment %}
			{% if tags %}
				{% include 'deertrees/taglist_sidebar.html' %}
			{% endif %}
			
			{% comment %}<!-- Embed Codes -->{% endcomment %}
			{% if can_edit %}
				<div class="transbox right_sidebar_section copypaste_boxes">
					<h3>Embed This Image</h3>
						<label for="embed_internal_icon">Thumbnail (Internal)</label>
						<input type="text" name="embed_internal_icon" id="embed_internal_icon" readonly="readonly" value="&lt;sunset id=&quot;{{object.pk}}&quot; type=&quot;icon&quot; /&gt;" />
						
						<label for="embed_internal_display">Display (Internal)</label>
						<input type="text" name="embed_internal_display" id="embed_internal_display" readonly="readonly" value="&lt;sunset id=&quot;{{object.pk}}&quot; type=&quot;display&quot; /&gt;" />
				</div>
			{% endif %}
			
			{% comment %}<!-- Access codes -->{% endcomment %}
			{% if can_edit %}
				{% include 'awi_access/access_code_widget.html' %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}