{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% if 'main' in blockname %}
	<link rel="stylesheet" href="{{STATIC_PREFIX}}css/justifiedGallery.min.css" />

	<div id="sunset_thumb_array">
		{% for image in leaves %}
			{% if blockname == 'main_half' and forloop.counter > 8 %}
				{% comment %}<!-- Do nothing.  -->{% endcomment %}
			{% else %}
				{% for asset in image.assets.all %}
					{% if asset.type == 'icon' %}
						<a href="{% url 'image_single' image.cat.cached_url image.slug %}" title="{{image}}" {% if image.featured and highlight_featured %}class="featured"{% elif image.mature %}class="mature"{% elif not image.is_public.0 %}class="notpublic"{% endif %}>
							<img src="{{asset.get_url}}" alt="{{image}}" title="{{image}}" />
						</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% empty %}
			<div><sub><em>No Images</em></sub></div>
		{% endfor %}
	</div>

	<script src="{{STATIC_PREFIX}}js/jquery.js"></script>
	<script src="{{STATIC_PREFIX}}js/jquery.justifiedGallery.min.js"></script>
	<script>
	{% if homepage %}
		$("#sunset_thumb_array").justifiedGallery({rowHeight:100, maxRowHeight:120, margins:2});
	{% else %}
		$("#sunset_thumb_array").justifiedGallery({rowHeight:180, maxRowHeight:200, margins:7});
	{% endif %}
	</script>
{% endif %}