{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% if 'main' in blockname %}
	<div id="sunset_thumb_array">
		{% for image in leaves %}
			{% if blockname == 'main_half' and forloop.counter > 8 %}
				{% comment %}<!-- Do nothing.  -->{% endcomment %}
			{% else %}
				{% for asset in image.assets.all %}
					{% if asset.type == 'icon' %}
						<a href="{% url 'image_single' image.cat.cached_url image.basename %}" title="{{image}}" {% if image.restriction and image.restriction != 'unknown' %}class="restricted"{% elif image.featured and highlight_featured %}class="featured"{% elif image.mature %}class="mature"{% endif %}>
							{% if image.restriction and image.restriction != 'unknown' %}
								<div class="feature_mark {{image.restriction}}"></div>
							{% elif image.featured and highlight_featured %}
								<div class="feature_mark"></div>
							{% elif image.mature %}
								<div class="feature_mark"></div>
							{% endif %}
							<img src="{{asset.get_url}}" alt="{{image}}" title="{{image}}" />
						</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% empty %}
			<div><sub><em>No Images</em></sub></div>
		{% endfor %}
	</div>

	<script src="{{STATIC_PREFIX}}js/jquery.js"></script>
	<script src="{{STATIC_PREFIX}}js/jquery.justifiedGallery.min.js"></script>
	<script>
	{% if homepage %}
		$("#sunset_thumb_array").justifiedGallery({rowHeight:100, maxRowHeight:120, margins:2, captionSettings:{animationDuration: 0, visibleOpacity: 1.0, nonVisibleOpacity: 0.0}});
	{% elif 'left' in blockname or 'right' in blockname %}
		$("#sunset_thumb_array").justifiedGallery({rowHeight:140, maxRowHeight:160, margins:4, captionSettings:{animationDuration: 0, visibleOpacity: 1.0, nonVisibleOpacity: 0.0}});
	{% else %}
		$("#sunset_thumb_array").justifiedGallery({rowHeight:200, maxRowHeight:220, margins:7, captionSettings:{animationDuration: 0, visibleOpacity: 1.0, nonVisibleOpacity: 0.0}});
	{% endif %}
	</script>
{% endif %}