{% extends "base_core.html" %}
{% load errors %}

{% block content_area %}
	<div id="content_area">
		<div id="content_wrapper">
			<div class="left_content" role="main">
				<div id="error_css_20171204" class="left_sidebar">{% error_display 'css_stale' %}</div>
				{% block content_left %}
					{% comment %}<!-- This section is for primary content, but can be used for float:left sidebars too.  -->{% endcomment %}
				{% endblock %}
			</div>
			
			<div class="right_sidebar" role="complementary" aria-label="Sidebar">
				{% block content_right %}
					{% comment %}<!-- This section is for right sidebar elements.  -->{% endcomment %}
				{% endblock %}
			</div>
		</div>
		
		<div class="clearfix float_left"></div><div class="clearfix clear_both"></div>
	</div>
{% endblock %}
