{% extends "base_blank.html" %}
{% load static %}
{% load cookielaw_tags %}
{% load sunset_bg %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_bg_data as bg %}

{% block page_structure %}
{% block cookiebanner %}{% if cookie_banner %}{% cookielaw_banner %}{% endif %}{% endblock %}
<div id="mainwrap" {% block mainwrap_extra %}{% endblock %}>
	<header>
		<div id="header_logo" role="banner">
			<a href="/" id="large_logo"><img src="{{ STATIC_PREFIX }}images/text/title{% if debug_check %}-beta{% endif %}.png" title="Lupinia Studios{% if debug_check %} (Beta){% endif %}" alt="Lupinia Studios{% if debug_check %} (Beta){% endif %}" /><br /></a>
			<a href="/" id="small_logo"><img src="{{ STATIC_PREFIX }}images/text/admin-title.png" title="Lupinia Studios{% if debug_check %} (Beta){% endif %}" alt="Lupinia Studios{% if debug_check %} (Beta){% endif %}" /><br /></a>
			
			<a id="sig_image" href="/about/" rel="help"><img src="{{ STATIC_PREFIX }}images/text/name-{% if title_img %}{{title_img}}{% else %}fr{% endif %}.png" title="By {{sitemeta_author_name}}" alt="By {{sitemeta_author_name}}" /></a>
			
			{% block social_icons %}
				{% if rss_feed or header_icons %}
					<div id="social_icons" class="hovericons16">
						{% include 'deerconnect/header_social_icons.html' %}
						{% if rss_feed %}
							<a href="feed.rss" class="blue"><img src="{{ STATIC_PREFIX }}images/icons/rss.png" alt="RSS Feed" title="RSS Feed" /></a>
						{% endif %}
					</div>
				{% endif %}
			{% endblock %}
		</div>
		
		<nav class="hoverimgs" id="desktop" role="navigation" aria-label="Main Menu">
			{% include 'includes/nav.html' with img=True %}
		</nav>
		<nav id="mobile" role="navigation" aria-label="Main Menu (Mobile)">
			{% include 'includes/nav.html' with mobile=True %}
		</nav>
		
		{% block breadcrumbs %}
			{% if breadcrumbs %}
				<div class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
					<span>
						<a href="/" title="Home">Home</a> 
						{% for link in breadcrumbs %}
							<span class="separator">&gt;</span> {% if forloop.last %}{{link.title}}{% else %}<a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>{% endif %} 
						{% endfor %}
					</span>
				</div>
			{% endif %}
		{% endblock %}
	</header>

{% block content_area %}{% endblock %}

	<footer role="contentinfo">
		{% block footer %}
			<div id="footer-right">
				<div class="bg_info">{% block bginfo %}{% if bg and bg.display_footer_info and not showcase_mode %}Background Photo:  <a href="{{bg.info_url}}">{{bg.title}}</a>{% else %}&nbsp;{% endif %}{% endblock %}</div>
				<div class="lower">{% if public_domain_content %}Site and other content {% endif %}&copy;2000-{{curyear}} {{sitemeta_author_name}} &bull; <a href="/about/privacy.htm" title="Privacy Policy">Privacy Policy</a></div>
			</div>
			
			<nav role="navigation" aria-label="Footer Links">
				{% include 'includes/nav.html' %}
			</nav>
			<div class="lower" id="footer_userlinks">
			{% block userinfo %}
				{% if user.is_authenticated %}
					{% if user.get_full_name %}
						<span class="footer_username">{{user.get_full_name}} ({{user.get_username}}) &bull; </span>
					{% else %}
						<span class="footer_username">{{user.get_username}} &bull; </span>
					{% endif %}
					<a href="{% url 'logout' %}">Logout</a>
					{% if user.is_superuser %}
					&bull; <a href="/admin/">Administration</a>
					{% endif %}
				{% else %}
					<a href="{% url 'login' %}">Login</a>
				{% endif %}
					<span class="footer_settings">&bull; <a href="/settings/">Settings</a></span>
			{% endblock %}
			<span class="footer_renderinfo">&nbsp;&nbsp; {% if render_time %}<span id="processinfo">Render time:  {{render_time}} ms</span>{% endif %}</span>
			</div>
		{% endblock %}
	</footer>
</div>

{% endblock %}
