<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#{% if sitemeta_page_type %}{{sitemeta_page_type}}{% else %}website{% endif %}"{% if debug_white_bg %} class="debug_white_bg"{% endif %}>
<head>
	{% load static %}
	{% load sunset_bg %}
	{% get_static_prefix as STATIC_PREFIX %}
	{% now "Y" as curyear %}
	{% block bg_image %}{% bg_select bg_tag %}{% endblock %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% if sitemeta_author_name %}<meta name="author" content="{{sitemeta_author_name}}" />{% endif %}
	<meta name="designer" content="Lupinia Studios - www.lupinia.net" />
	<meta name="description" property="og:description" content="{% block desc %}{% if sitemeta_desc %}{{sitemeta_desc}}{% else %}Lupinia Studios is {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}'s personal portfolio, featuring her written works, digital photography, and digital graphics.{% endif %}{% endblock %}" />
	<meta name="copyright" content="Unless otherwise specified, all content is (c) 2000-{{curyear}} by {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}" />

	<meta name="twitter:card" content="{% if sitemeta_is_image %}summary_large_image{% else %}summary{% endif %}" />
	<meta property="og:type" content="{% if sitemeta_page_type %}{{sitemeta_page_type}}{% else %}website{% endif %}" />
	
	<meta property="og:site_name" content="{% if title_site %}{{title_site}}{% else %}Lupinia Studios{% endif %}" />
	<meta property="og:title" content="{% if title_page %}{{title_page}}{% elif title_site %}{{title_site}}{% else %}Lupinia Studios - Photography, Writing, and Creative Works by {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}{% endif %}" />
	<meta name="twitter:title" content="{% if title_page %}{{title_page}}{% elif title_site %}{{title_site}}{% else %}Lupinia Studios - Photography, Writing, and Creative Works by {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}{% endif %}" />
	<meta name="twitter:description" content="{% if sitemeta_desc %}{{sitemeta_desc}}{% else %}Lupinia Studios is {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}'s personal portfolio, featuring her written works, digital photography, and digital graphics.{% endif %}" />
	{% if locale %}<meta property="og:locale" content="{{locale}}" />{% endif %}
	{% if permalink %}<meta property="og:url" content="{{permalink}}" />{% endif %}
	
{% if sitemeta_page_type == 'article' %}
	{% if sitemeta_timestamp_pub %}<meta property="article:published_time" content="{{sitemeta_timestamp_pub|date:"c"}}" />{% endif %}
	{% if sitemeta_timestamp_mod %}<meta property="article:modified_time" content="{{sitemeta_timestamp_mod|date:"c"}}" />{% endif %}
	<meta property="article:author" content="{% if sitemeta_article_author_name %}{{sitemeta_article_author_name}}{% else %}{{sitemeta_author_name}}{% endif %}" />
	{% if sitemeta_category %}<meta property="article:section" content="{{sitemeta_category}}" />{% endif %}
	{% if sitemeta_article_tags %}{% for article_tag in sitemeta_article_tags %}
	<meta property="article:tag" content="{{article_tag}}" />
	{% endfor %}{% endif %}
{% endif %}
	
	{% if sitemeta_twitter %}<meta name="twitter:site" content="{{sitemeta_twitter}}" />
	{% if not sitemeta_article_author_name %}<meta name="twitter:creator" content="{{sitemeta_twitter}}" />{% endif %}{% endif %}
	
	{% get_bg_data as bg %}
	{% if bg.og_url %}
		<meta property="og:image" content="{{bg.og_url}}" />
		<meta property="og:image:secure_url" content="{{bg.og_url}}" />
	{% endif %}
	{% if bg.og_width %}<meta property="og:image:width" content="{{bg.og_width}}" />{% endif %}
	{% if bg.og_height %}<meta property="og:image:height" content="{{bg.og_height}}" />{% endif %}
	{% if bg.mime %}<meta property="og:image:type" content="{{bg.mime}}" />{% endif %}
	{% if bg.alt_text %}<meta property="og:image:alt" content="{{bg.alt_text}}" />{% endif %}
	{% if bg.twitter_url %}<meta name="twitter:image" content="{{bg.twitter_url}}" />{% endif %}
	
	<title>{% block title %}{% if title_site and title_page %}{{title_site}} - {{title_page}}{% elif title_site %}{{title_site}}{% else %}Lupinia Studios - Photography, Writing, and Creative Works by {% if sitemeta_author_name %}{{sitemeta_author_name}}{% else %}Natasha L.{% endif %}{% endif %}{% endblock %}</title>
	
	<link href="{% if debug_check %}/{% else %}{{STATIC_PREFIX}}{% endif %}css/showcase.css" type="text/css" rel="stylesheet" id="main_css" title="Purple" />
	{% block cookielaw_js %}<script src="{{STATIC_PREFIX}}cookielaw/js/cookielaw.js" type="text/javascript"></script>{% endblock %}
	{% if rss_feed %}
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{request.build_absolute_uri}}feed.rss" />
	{% endif %}
	{% block extra_head %}{% endblock %}
	{% if highlight_code %}
		<link rel="stylesheet" href="{{STATIC_PREFIX}}js/highlight/styles/{% if showcase_mode %}vs{% else %}atelier-cave-dark{% endif %}.css">
		<script src="{{STATIC_PREFIX}}js/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	{% endif %}
</head>

{% block body_tag %}<body style="background-image:url({{bg.url}});" {% if showcase_mode %}class="showcase_mode"{% elif newtab %}class="newtab_page"{% endif %}>{% endblock %}
{% block page_structure %}{% endblock %}
{% block after_content %}{% endblock %}

</body>
</html>
