{% extends "base_core.html" %}
{% load errors %}

{% block extra_head %}
	<link href="{% if debug_check %}/{% else %}{{STATIC_PREFIX}}{% endif %}css/showcase_mapbox.css" type="text/css" rel="stylesheet" id="map_css" />
	<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
{% endblock %}

{% block body_tag %}<body class="map_mode">{% endblock %}
{% block mainwrap_extra %}class="fullpage_map"{% endblock %}

{% block content_area %}
	<div id="awi_map" class="map_obj" role="main">
		{% error_display 'nojs_map' %}
	</div>
	
	<div class="right_sidebar" role="complementary" aria-label="Sidebar">
		{% block content_right %}
			{% comment %}<!-- This section is for right sidebar elements.  -->{% endcomment %}
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
	<nav role="navigation" aria-label="Footer Links">
		{% include 'includes/nav.html' %}
	</nav>
	<div class="lower" id="footer_userlinks">
		&copy;2000-{{curyear}} {% include 'includes/authorname.txt' %} &bull; <a href="/about/privacy.htm" title="Privacy Policy">Privacy Policy</a>
		<span class="footer_renderinfo">&nbsp;&nbsp; <span id="processinfo"></span></span>
	</div>
{% endblock %}

{% block after_content %}
<script>
	L.mapbox.accessToken = '{{mapbox_token}}';
	var map = L.mapbox.map('awi_map');
	L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v10').addTo(map);
	
	var markers = L.mapbox.featureLayer(null, { sanitizer: function(x) { return x; } }).loadURL('{{map_data_url}}').addTo(map);
	markers.on('ready', function () { map.fitBounds(markers.getBounds()); });
</script>
{% endblock %}
