{% if img %}
<ul role="menubar" class="menubar_full">
	<li role="menuitem" aria-haspopup="true"><a tabindex="1" href="/" style="background-image:url({{ STATIC_PREFIX }}images/nav/creative-off.png)" title="Creative Work"><img src="{{ STATIC_PREFIX }}images/nav/creative-on.png" alt="Creative Work" /></a>
		<ul class="submenu_wide" role="menu">
			<li role="menuitem"><a tabindex="2" href="/photo/" style="background-image:url({{ STATIC_PREFIX }}images/nav/photo-off.png)" title="Photography"><img src="{{ STATIC_PREFIX }}images/nav/photo-on.png" alt="Photography" /></a></li>
			<li role="menuitem"><a tabindex="3" href="/writing/" style="background-image:url({{ STATIC_PREFIX }}images/nav/writing-off.png)" title="Written Work and Blog"><img src="{{ STATIC_PREFIX }}images/nav/writing-on.png" alt="Written Work and Blog" /></a></li>
			<li role="menuitem"><a tabindex="4" href="/sl/" style="background-image:url({{ STATIC_PREFIX }}images/nav/sl-off.png)" title="Second Life Projects/Screenshots"><img src="{{ STATIC_PREFIX }}images/nav/sl-on.png" alt="Second Life Projects/Screenshots" /></a></li>
		</ul>
	</li>
	<li role="menuitem" class="menu_header_wide" aria-haspopup="true"><a tabindex="5" href="/code/" style="background-image:url({{ STATIC_PREFIX }}images/nav/pro-off.png)" title="Professional Work"><img src="{{ STATIC_PREFIX }}images/nav/pro-on.png" alt="Professional Work" /></a>
		<ul role="menu">
			<li role="menuitem"><a href="/code/" tabindex="6" style="background-image:url({{ STATIC_PREFIX }}images/nav/software-off.png)" title="Software/Websites/Code"><img src="{{ STATIC_PREFIX }}images/nav/software-on.png" alt="Software/Websites/Code" /></a></li>
			{% if not 'meadow' in site.domain %}<li role="menuitem"><a tabindex="7" href="/code/resume.htm" style="background-image:url({{ STATIC_PREFIX }}images/nav/resume-off.png)" title="Natasha's Résumé"><img src="{{ STATIC_PREFIX }}images/nav/resume-on.png" alt="Natasha's Résumé" /></a></li>{% endif %}
		</ul>
	</li>
	<li role="menuitem" aria-haspopup="true"><a tabindex="8" href="/personal/" style="background-image:url({{ STATIC_PREFIX }}images/nav/personal-off.png)" title="Personal "><img src="{{ STATIC_PREFIX }}images/nav/personal-on.png" alt="Personal" /></a>
		<ul class="submenu_wide" role="menu">
			{% if 'meadow' in site.domain %}<li role="menuitem"><a tabindex="9" href="/furry/" style="background-image:url({{ STATIC_PREFIX }}images/nav/furry-off.png)" title="Furry, My Little Pony, and Other Fandoms"><img src="{{ STATIC_PREFIX }}images/nav/furry-on.png" alt="Furry, My Little Pony, and Other Fandoms" /></a></li>{% endif %}
			<li role="menuitem"><a tabindex="10" href="/personal/cooking/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cooking-off.png)" title="Cooking, Food, and Recipes"><img src="{{ STATIC_PREFIX }}images/nav/cooking-on.png" alt="Cooking, Food, and Recipes" /></a></li>
			<li role="menuitem"><a tabindex="11" href="/personal/cars/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cars-off.png)" title="Cars/Vehicles/Automotive"><img src="{{ STATIC_PREFIX }}images/nav/cars-on.png" alt="Cars/Vehicles/Automotive" /></a></li>
			<li role="menuitem"><a tabindex="13" href="/personal/radio/" style="background-image:url({{ STATIC_PREFIX }}images/nav/radio-off.png)" title="Amateur (Ham) Radio"><img src="{{ STATIC_PREFIX }}images/nav/radio-on.png" alt="Amateur (Ham) Radio" /></a></li>
		</ul>
	</li>
	<li role="menuitem"><a tabindex="14" href="/contact/" style="background-image:url({{ STATIC_PREFIX }}images/nav/contact-off.png)" title="Contact"><img src="{{ STATIC_PREFIX }}images/nav/contact-on.png" alt="Contact" /></a></li>
	<li role="menuitem" class="menu_header_icon"><a tabindex="16" href="/settings/" style="background-image:url({{ STATIC_PREFIX }}images/nav/settings-off.png)" title="Settings"><img src="{{ STATIC_PREFIX }}images/nav/settings-on.png" alt="Settings" /></a>
		<ul class="submenu_icons" role="menu">
			<li role="menuitem" class="menu_header_icon"><a tabindex="16" href="/about/" style="background-image:url({{ STATIC_PREFIX }}images/nav/info-off.png)" title="About"><img src="{{ STATIC_PREFIX }}images/nav/info-on.png" alt="About" /></a></li>
			<li role="menuitem" class="menu_header_icon"><a tabindex="16" href="/settings/" style="background-image:url({{ STATIC_PREFIX }}images/nav/settings-off.png)" title="Settings"><img src="{{ STATIC_PREFIX }}images/nav/settings-on.png" alt="Settings" /></a></li>
			{% if user.is_authenticated %}
				{% if user.is_superuser %}
					<li role="menuitem" class="menu_header_icon"><a tabindex="18" href="/admin/" style="background-image:url({{ STATIC_PREFIX }}images/nav/admin-off.png)" title="Administration"><img src="{{ STATIC_PREFIX }}images/nav/admin-on.png" alt="Administration" /></a></li>
				{% endif %}
				<li role="menuitem" class="menu_header_icon"><a tabindex="17" href="{% url 'logout' %}" style="background-image:url({{ STATIC_PREFIX }}images/nav/logout-off.png)" title="Logout"><img src="{{ STATIC_PREFIX }}images/nav/logout-on.png" alt="Logout" /></a></li>
			{% else %}
				<li role="menuitem" class="menu_header_icon"><a tabindex="17" href="{% url 'login' %}" style="background-image:url({{ STATIC_PREFIX }}images/nav/login-off.png)" title="Login"><img src="{{ STATIC_PREFIX }}images/nav/login-on.png" alt="Login" /></a></li>
			{% endif %}
		</ul>
	</li>
</ul>
{% elif mobile %}
<ul role="menubar">
	<li id="menu_root_li" aria-haspopup="true" role="menuitem"><a id="menu_root" href="#" title="Menu Root"><img src="{{ STATIC_PREFIX }}images/icons/menu.png" alt="Menu Root" title="Menu Root" /></a>
		<ul class="submenu_wide hoverimgs" role="menu">
			<li role="menuitem"><a href="/photo/" style="background-image:url({{ STATIC_PREFIX }}images/nav/photo-off.png)" title="Photography"><img src="{{ STATIC_PREFIX }}images/nav/photo-on.png" alt="Photography" /></a></li>
			<li role="menuitem"><a href="/writing/" style="background-image:url({{ STATIC_PREFIX }}images/nav/writing-off.png)" title="Written Work and Blog"><img src="{{ STATIC_PREFIX }}images/nav/writing-on.png" alt="Written Work and Blog" /></a></li>
			<li role="menuitem"><a href="/sl/" style="background-image:url({{ STATIC_PREFIX }}images/nav/sl-off.png)" title="Second Life Projects/Screenshots"><img src="{{ STATIC_PREFIX }}images/nav/sl-on.png" alt="Second Life Projects/Screenshots" /></a></li>
			<li role="menuitem"><a href="/code/" style="background-image:url({{ STATIC_PREFIX }}images/nav/software-off.png)" title="Software/Websites/Code"><img src="{{ STATIC_PREFIX }}images/nav/software-on.png" alt="Software/Websites/Code" /></a></li>
			{% if not 'meadow' in site.domain %}<li role="menuitem"><a href="/code/resume.htm" style="background-image:url({{ STATIC_PREFIX }}images/nav/resume-off.png)" title="Natasha's Résumé"><img src="{{ STATIC_PREFIX }}images/nav/resume-on.png" alt="Natasha's Résumé" /></a></li>{% endif %}
			<li role="menuitem"><a href="/personal/" style="background-image:url({{ STATIC_PREFIX }}images/nav/personal-off.png)" title="Personal "><img src="{{ STATIC_PREFIX }}images/nav/personal-on.png" alt="Personal" /></a></li>
			{% if 'meadow' in site.domain %}<li role="menuitem"><a href="/furry/" style="background-image:url({{ STATIC_PREFIX }}images/nav/furry-off.png)" title="Furry, My Little Pony, and Other Fandoms"><img src="{{ STATIC_PREFIX }}images/nav/furry-on.png" alt="Furry, My Little Pony, and Other Fandoms" /></a></li>{% endif %}
			<li role="menuitem"><a href="/personal/cooking/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cooking-off.png)" title="Cooking, Food, and Recipes"><img src="{{ STATIC_PREFIX }}images/nav/cooking-on.png" alt="Cooking, Food, and Recipes" /></a></li>
			<li role="menuitem"><a href="/personal/cars/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cars-off.png)" title="Cars/Vehicles/Automotive"><img src="{{ STATIC_PREFIX }}images/nav/cars-on.png" alt="Cars/Vehicles/Automotive" /></a></li>
			<li role="menuitem"><a href="/personal/radio/" style="background-image:url({{ STATIC_PREFIX }}images/nav/radio-off.png)" title="Amateur (Ham) Radio"><img src="{{ STATIC_PREFIX }}images/nav/radio-on.png" alt="Amateur (Ham) Radio" /></a></li>
			<li role="menuitem"><a href="/contact/" style="background-image:url({{ STATIC_PREFIX }}images/nav/contact-off.png)" title="Contact"><img src="{{ STATIC_PREFIX }}images/nav/contact-on.png" alt="Contact" /></a></li>
			<!-- Begin icons -->
			<li role="menuitem" class="menu_header_icon"><a href="/about/" style="background-image:url({{ STATIC_PREFIX }}images/nav/info-off.png)" title="About"><img src="{{ STATIC_PREFIX }}images/nav/info-on.png" alt="About" /></a></li>
			<li role="menuitem" class="menu_header_icon"><a href="/settings/" style="background-image:url({{ STATIC_PREFIX }}images/nav/settings-off.png)" title="Settings"><img src="{{ STATIC_PREFIX }}images/nav/settings-on.png" alt="Settings" /></a></li>
			{% if user.is_authenticated %}
				{% if user.is_superuser %}
					<li role="menuitem" class="menu_header_icon"><a href="/admin/" style="background-image:url({{ STATIC_PREFIX }}images/nav/admin-off.png)" title="Administration"><img src="{{ STATIC_PREFIX }}images/nav/admin-on.png" alt="Administration" /></a></li>
				{% endif %}
				<li role="menuitem" class="menu_header_icon"><a href="{% url 'logout' %}" style="background-image:url({{ STATIC_PREFIX }}images/nav/logout-off.png)" title="Logout"><img src="{{ STATIC_PREFIX }}images/nav/logout-on.png" alt="Logout" /></a></li>
			{% else %}
				<li role="menuitem" class="menu_header_icon"><a href="{% url 'login' %}" style="background-image:url({{ STATIC_PREFIX }}images/nav/login-off.png)" title="Login"><img src="{{ STATIC_PREFIX }}images/nav/login-on.png" alt="Login" /></a></li>
			{% endif %}
		</ul>
	</li>
</ul>
{% else %}
<a href="/">Home</a> &bull; 
<a href="/about/">About</a> &bull; 
<a href="/photo/">Photography</a> &bull; 
<a href="/code/">Software</a> &bull; 
<a href="/writing/">Writing</a> &bull; 
<a href="/sl/">Second Life (SL)</a> &bull; 
<a href="/personal/">Personal</a> &bull; 
{% if 'meadow' in site.domain %}<a href="/furry/">Furry/MLP</a> &bull; {% endif %}
<a href="/cars/">Cars</a> &bull; 
<a href="/contact/">Contact</a>
{% endif %}