{% if img %}
<ul>
	<li><a href="/" style="background-image:url({{ STATIC_PREFIX }}images/nav/creative-off.png)" title="Creative Work"><img src="{{ STATIC_PREFIX }}images/nav/creative-on.png" alt="Creative Work" /></a>
		<ul class="submenu_wide">
			<li><a href="/photo/" style="background-image:url({{ STATIC_PREFIX }}images/nav/photo-off.png)" title="Photography"><img src="{{ STATIC_PREFIX }}images/nav/photo-on.png" alt="Photography" /></a></li>
			<li><a href="/writing/" style="background-image:url({{ STATIC_PREFIX }}images/nav/writing-off.png)" title="Written Work and Blog"><img src="{{ STATIC_PREFIX }}images/nav/writing-on.png" alt="Written Work and Blog" /></a></li>
			<li><a href="/sl/" style="background-image:url({{ STATIC_PREFIX }}images/nav/sl-off.png)" title="Second Life Projects/Screenshots"><img src="{{ STATIC_PREFIX }}images/nav/sl-on.png" alt="Second Life Projects/Screenshots" /></a></li>
		</ul>
	</li>
	<li class="menu_header_wide"><a href="/code/" style="background-image:url({{ STATIC_PREFIX }}images/nav/pro-off.png)" title="Professional Work"><img src="{{ STATIC_PREFIX }}images/nav/pro-on.png" alt="Professional Work" /></a>
		<ul>
			<li><a href="/code/" style="background-image:url({{ STATIC_PREFIX }}images/nav/software-off.png)" title="Software/Websites/Code"><img src="{{ STATIC_PREFIX }}images/nav/software-on.png" alt="Software/Websites/Code" /></a></li>
			{% if site.name != 'Furry' %}<li><a href="/code/resume.htm" style="background-image:url({{ STATIC_PREFIX }}images/nav/resume-off.png)" title="Natasha's Résumé"><img src="{{ STATIC_PREFIX }}images/nav/resume-on.png" alt="Natasha's Résumé" /></a></li>{% endif %}
		</ul>
	</li>
	<li><a href="/personal/" style="background-image:url({{ STATIC_PREFIX }}images/nav/personal-off.png)" title="Personal "><img src="{{ STATIC_PREFIX }}images/nav/personal-on.png" alt="Professional Work" /></a>
		<ul class="submenu_wide">
			{% if site.name == 'Furry' %}<li><a href="/furry/" style="background-image:url({{ STATIC_PREFIX }}images/nav/furry-off.png)" title="Furry, My Little Pony, and Other Fandoms"><img src="{{ STATIC_PREFIX }}images/nav/furry-on.png" alt="Furry, My Little Pony, and Other Fandoms" /></a></li>{% endif %}
			<li><a href="/personal/cooking/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cooking-off.png)" title="Cooking, Food, and Recipes"><img src="{{ STATIC_PREFIX }}images/nav/cooking-on.png" alt="Cooking, Food, and Recipes" /></a></li>
			<li><a href="/personal/cars/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cars-off.png)" title="Cars/Vehicles/Automotive"><img src="{{ STATIC_PREFIX }}images/nav/cars-on.png" alt="Cars/Vehicles/Automotive" /></a></li>
			<!--<li><a href="/cherokee/" style="background-image:url({{ STATIC_PREFIX }}images/nav/cherokee-off.png)" title="Cherokee (ᏣᎳᎩ) Language Resources"><img src="{{ STATIC_PREFIX }}images/nav/cherokee-on.png" alt="Cherokee (ᏣᎳᎩ) Language Resources" /></a></li>-->
		</ul>
	</li>
	<li><a href="/contact/" style="background-image:url({{ STATIC_PREFIX }}images/nav/contact-off.png)" title="Contact"><img src="{{ STATIC_PREFIX }}images/nav/contact-on.png" alt="Contact" /></a></li>
	<!--<li class="menu_header_icon"><a href="/search/" style="background-image:url({{ STATIC_PREFIX }}images/icons/search-off.png)" title="Search/Filter"><img src="{{ STATIC_PREFIX }}images/icons/search-on.png" alt="Search/Filter" /></a></li>-->
	<li class="menu_header_icon"><a href="/settings/" style="background-image:url({{ STATIC_PREFIX }}images/icons/settings-off.png)" title="Settings"><img src="{{ STATIC_PREFIX }}images/icons/settings-on.png" alt="Settings" /></a></li>
</ul>
{% else %}
<a href="/">Home</a> &bull; 
<a href="/about/">About</a> &bull; 
<a href="/photo/">Photography</a> &bull; 
<a href="/code/">Software</a> &bull; 
<a href="/writing/">Writing</a> &bull; 
<a href="/sl/">Second Life (SL)</a> &bull; 
<!-- <a href="/cherokee/">Cherokee (ᏣᎳᎩ) Language Resources</a> &bull;  -->
<a href="/personal/">Personal</a> &bull; 
{% if site.name == 'Furry' %}<a href="/furry/">Furry/MLP</a> &bull; {% endif %}
<a href="/cars/">Cars</a> &bull; 
<a href="/contact/">Contact</a> &bull; 
<!-- <a href="/search/">Search</a> &bull;  -->
<a href="/settings/">Settings</a>
<br>
{% endif %}