{% extends "base_blank.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load tz %}

{% block title %}New Tab{% endblock %}
{% block cookielaw_js %}{% endblock %}

{% block page_structure %}
<div id="newtab">
	<div id="center_info">
		{% if time_local %}
			<div class="center_time_wrapper"><fieldset class="timestamp" id="timestamp_main">
				<legend>Washington</legend>
				<div class="timestamp_time">{{time_local|time:"H:i"}}</div>
				<div class="timestamp_date">{{time_local|date:"F j, Y"}}</div>
				<button id="timer_open" title="Open/close timer" onclick="toggle_timer()"><img src="{{STATIC_PREFIX}}images/icons/timer-16.png" title="Open/close timer" alt="T" /></button>
			</fieldset>
			<div class="timer timestamp" id="timer_main">
				<div class="timer_label">Timer</div>
				<div class="timer_buttons" id="timer_buttons_left">
					<button id="timer_adj_up" title="Add 1 minute" onclick="change_timer(60)"><img src="{{STATIC_PREFIX}}images/icons/adjust-up-16.png" title="Add 1 minute" alt="+" /></button>
					<button id="timer_adj_down" title="Subtract 1 minute" onclick="change_timer(-60)"><img src="{{STATIC_PREFIX}}images/icons/adjust-down-16.png" title="Subtract 1 minute" alt="-" /></button>
				</div>
				<div class="timer_time timer_stopped" id="timer_main_time">00:00</div>
				<div class="timer_buttons" id="timer_buttons_right">
					<button id="timer_start" title="Start/stop timer" onclick="timer_startstop()"><img src="{{STATIC_PREFIX}}images/icons/play-16.png" title="Start timer" alt="&gt;" id="timer_startstop_play_icon" /><img src="{{STATIC_PREFIX}}images/icons/pause-16.png" title="Stop timer" alt="||" id="timer_startstop_pause_icon" /></button>
					<button id="timer_reset" title="Reset timer" onclick="timer_reset_button()"><img src="{{STATIC_PREFIX}}images/icons/reset-16.png" title="Reset timer" alt="R" /></button>
				</div>
			</div></div>
		{% endif %}
	</div>
	{% if time_list %}{% localtime off %}
		<div id="footer">
		{% for clock in time_list %}
			<fieldset class="timestamp">
				<legend>{{clock.label}}</legend>
				<div class="timestamp_time">{{clock.timestamp|time:"H:i"}}</div>
				<div class="timestamp_date">{{clock.timestamp|date:"F j, Y"}}</div>
			</fieldset>
		{% endfor %}
		</div>
	{% endlocaltime %}{% endif %}
</div>
{% endblock %}

{% block after_content %}
<script>
	var first_run = true;
	var timer_start = 300;
	var timer_cur = 0;
	var timer_active = false;
	var timer_open = false;
	var timer_started = false;
	var timer_display = document.getElementById("timer_main_time");
	var timer_obj = document.getElementById("timer_main");
	var timer_up_button = document.getElementById("timer_adj_up");
	var timer_down_button = document.getElementById("timer_adj_down");
	var timer_startstop_button = document.getElementById("timer_start");
	var timer_handle;
	
	function toggle_timer() {
		if(timer_open) {
			timer_obj.classList.remove("timer_active");
			stop_timer();
			timer_display.classList.remove("timer_complete");
			timer_open = false;
		}
		else {
			timer_obj.classList.add("timer_active");
			timer_open = true;
			if(!timer_cur) {
				set_timer();
			}
			timer_up_button.disabled = false;
			timer_down_button.disabled = false;
			timer_up_button.classList.remove("disabled");
			timer_down_button.classList.remove("disabled");
		}
	}
	
	function timer_startstop() {
		if(timer_open) {
			if(timer_active) {
				stop_timer();
			}
			else {
				start_timer();
				timer_started = true;
			}
		}
	}
	
	function timer_reset_button() {
		if(timer_open) {
			if(timer_active) {
				stop_timer();
			}
			timer_display.classList.remove("timer_complete");
			timer_up_button.disabled = false;
			timer_down_button.disabled = false;
			timer_up_button.classList.remove("disabled");
			timer_down_button.classList.remove("disabled");
			set_timer();
		}
	}
	
	function change_timer(i=60) {
		if(timer_open && !timer_active && i) {
			set_timer(timer_cur+i);
		}
	}
	
	function set_timer(t=timer_start) {
		if(timer_open && !timer_active && t) {
			timer_cur = t;
			timer_display.innerHTML = format_time(timer_cur);
			if(!timer_started) {
				timer_start = t;
			}
		}
	}
	
	function step_timer() {
		if(timer_open && timer_active && timer_cur) {
			timer_cur -= 1;
			if(!timer_cur) {
				stop_timer(true);
			}
			timer_display.innerHTML = format_time(timer_cur);
		}
	}
	
	function stop_timer(timer_end=false) {
		if(timer_open && timer_active) {
			clearInterval(timer_handle);
			timer_active = false;
			timer_display.classList.remove("timer_running");
			if(timer_end) {
				timer_display.classList.add("timer_complete");
				timer_started = false;
			}
			else {
				timer_up_button.disabled = false;
				timer_down_button.disabled = false;
				timer_up_button.classList.remove("disabled");
				timer_down_button.classList.remove("disabled");
			}
			timer_startstop_button.classList.remove("timer_status_running");
		}
	}
	
	function start_timer() {
		if(timer_open && !timer_active) {
			timer_active = true;
			timer_handle = setInterval(step_timer, 1000);
			timer_display.classList.add("timer_running");
			timer_up_button.disabled = true;
			timer_down_button.disabled = true;
			timer_up_button.classList.add("disabled");
			timer_down_button.classList.add("disabled");
			timer_startstop_button.classList.add("timer_status_running");
		}
	}
	
	function format_time(t) {
		var minutes = 0;
		var seconds = 0;
		
		if(t > 59) {
			minutes = Math.floor(t / 60);
			//minutes = ((t % 60) + 60) % t;	// I hate this language so much
			seconds = t % 60;
		}
		else {
			seconds = t;
		}
		
		minutes = minutes.toString();
		seconds = seconds.toString();
		
		if(seconds.length < 2) {
			seconds = "0" + seconds;
		}
		
		return minutes + ":" + seconds;
	}
	
	function update_times() {
		var clocks = document.getElementsByClassName("timestamp_time");
		for (var i=0; i < clocks.length; i++) {
			var clock = clocks.item(i);
			var time = clock.innerHTML.split(":");
			var hours = parseInt(time[0]);
			var minutes = parseInt(time[1])+1;
			
			if (minutes > 59) {
				hours++;
				minutes = 0;
				
				if (hours > 23) {
					hours = 0;
				}
			}
			
			hours = hours.toString();
			minutes = minutes.toString();
			
			if (hours.length < 2) {
				hours = "0" + hours;
			}
			if (minutes.length < 2) {
				minutes = "0" + minutes;
			}
			
			clock.innerHTML = hours + ":" + minutes;
		}
	}
	
	function load_updater() {
		if (first_run == true) {
			update_times();
			setInterval(update_times, 60 * 1000);
			first_run = false;
		}
	}
	
	setTimeout(load_updater, {{clock_sync}});
</script>
{% endblock %}