{% extends "base_blank.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load tz %}

{% block title %}New Tab{% endblock %}
{% block cookielaw_js %}{% endblock %}
{% block body_tag %}{% block bg_image %}{% include 'sunset/bg_image.html' %}{% endblock %}{% endblock %}

{% block page_structure %}
<div id="newtab">
	<div id="center_info">
		{% if time_local %}
			<fieldset class="timestamp" id="timestamp_main">
				<legend>Washington</legend>
				<div class="timestamp_time">{{time_local|time:"H:i"}}</div>
				<div class="timestamp_date">{{time_local|date:"F j, Y"}}</div>
			</fieldset>
		{% endif %}
	</div>
	{% if time_list %}{% localtime off %}
		<div id="footer">
		{% for clock in time_list %}
			<fieldset class="timestamp">
				<legend>{{clock.label}}</legend>
				<div class="timestamp_time">{{clock.timestamp|time:"H:i"}}</div>
				<div class="timestamp_date">{{clock.timestamp|date:"F j, Y"}}</div>
			</fieldset>
		{% endfor %}
		</div>
	{% endlocaltime %}{% endif %}
</div>
{% endblock %}

{% block after_content %}
<script>
	var first_run = true;
	
	function update_times() {
		var clocks = document.getElementsByClassName("timestamp_time");
		for (var i=0; i < clocks.length; i++) {
			var clock = clocks.item(i);
			var time = clock.innerHTML.split(":");
			var hours = parseInt(time[0]);
			var minutes = parseInt(time[1])+1;
			
			if (minutes > 59) {
				hours++;
				minutes = 0;
				
				if (hours > 23) {
					hours = 0;
				}
			}
			
			hours = hours.toString();
			minutes = minutes.toString();
			
			if (hours.length < 2) {
				hours = "0" + hours;
			}
			if (minutes.length < 2) {
				minutes = "0" + minutes;
			}
			
			clock.innerHTML = hours + ":" + minutes;
		}
	}
	
	function load_updater() {
		if (first_run == true) {
			update_times();
			setInterval(update_times, 60 * 1000);
			first_run = false;
		}
	}
	
	setTimeout(load_updater, {{clock_sync}});
</script>
{% endblock %}