{% extends "base.html" %}
{% block title %}{{block.super}} - License Plate Generator{% endblock %}
{% block bg_image %}{% include 'sunset/bg_image.html' with bg_tag='sl' %}{% endblock %}

{% block content_left %}
	{% if generated %}
		<div class="left_sidebar">
			<h2>License Plate - {{slug|upper}}</h2>
			<p>Your randomly-generated license plate number is:</p>
			<h1>{{platevalue|upper}}</h1>
			{% if notes %}
				<p><strong>Note:</strong>  {{notes}}</p>
			{% endif %}
			<p><strong><a href="{% url 'sl_plategen' slug %}">Regenerate?</a></strong> &bull; <a href="{% url 'sl_plategen_root' %}">Back to list</a></p>
		</div>
	{% else %}
		<div class="left_sidebar">
			<h2>License Plate Generator</h2>
			<p>This is a tool for generating random license plate numbers for use with Lupinia Studios towns in Apex.  Select the plate you wish to generate from the list below.</p>
			<ul>
				{% for plate in plate_types %}
					<li>{% if plate.sequence %}<a href="{% url 'sl_plategen' plate.slug %}">{% endif %}{{plate.code}}{% if plate.sequence %}</a>{% endif %}{% if plate.notes %} <em>({{plate.notes}})</em>{% endif %}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}