{% extends "base.html" %}
{% block title %}{{block.super}} - License Plate Generator{% endblock %}
{% block bg_image %}{% include 'sunset/bg_image.html' with bg_tag='sl' %}{% endblock %}

{% block content_left %}
	{% if generated %}
		<div class="left_sidebar">
			<h2>License Plate - {{platetype|upper}}</h2>
			<p>Your randomly-generated license plate number is:</p>
			<h1>{{platevalue|upper}}</h1>
			<p><strong><a href="{% url 'sl_plategen' platetype %}">Regenerate?</a></strong> &bull; <a href="{% url 'sl_plategen_root' %}">Back to list</a></p>
		</div>
	{% else %}
		<div class="left_sidebar">
			<h2>License Plate Generator</h2>
			<p>This is a tool for generating random license plate numbers for use with Lupinia Studios towns in Apex.  Select the plate you wish to generate from the list below.</p>
			<ul>
				<li><a href="{% url 'sl_plategen' 'fdci-cr' %}">FDCI-CR</a></li>
				<li><a href="{% url 'sl_plategen' 'fdci-pj' %}">FDCI-PJ</a></li>
				<li><a href="{% url 'sl_plategen' 'fdci-vb' %}">FDCI-VB</a></li>
				<li>FDCI-GV <em>(See procedures notecard for numbering scheme)</em></li>
			</ul>
		</div>
	{% endif %}
{% endblock %}