{% extends "base.html" %}
{% block bg_image %}{% with bg_tag='furry' %}{{block.super}}{% endwith %}{% endblock %}

{% block content_left %}
	{% if error %}
		<div class="left_sidebar">
			{% include 'includes/errors.html' %}
			{% if embed_mature_form %}
				{% include 'awi_access/age_form_iframe.html' %}
			{% endif %}
		</div>
	{% else %}
		<div class="{% if is_map_view and geojson_slug %}map_page{% else %}left_full{% endif %}">
			<div id="page_title">
				{% if geojson_slug %}
					<div id="page_title_extra">
						<div class="hovericons32 hovericons-wide">
							<a href="{{is_map_view|yesno:'.,?display=map'}}"><img src="{{ STATIC_PREFIX }}images/icons/{{is_map_view|yesno:'list,map'}}-32.png" alt="Switch to {{is_map_view|yesno:'List,Map'}} View" title="Switch to {{is_map_view|yesno:'List,Map'}} View" /></a>
						</div>
					</div>
				{% endif %}
				
				<div id="page_title_main">
					<h2>Events Attended By Natasha{% if cur_filter %} - {{cur_filter.name}}{% endif %}</h2>
					{% if update_time %}<div id="byline">Last updated:  {{update_time|date:'F j, Y  G:i:s'}}</div>{% endif %}
					<br />
				</div>
			</div>
			
			{% if event_instances %}
				{% if is_map_view and geojson_slug %}
					{% include 'includes/map_embed.html' %}
				{% else %}
					<table class="showcase_table events_table">
						<tr>
							<th>{% if cur_filter_type == 'type' %}Flags{% else %}Type{% endif %}</th>
							<th class="col_main">Event</th>
							{% if cur_filter_type != 'venue' %}<th>Location</th>{% endif %}
							<th>Dates</th>
						</tr>
						{% for content_item in event_instances %}
							<tr class="{% if content_item.event.mature %}event_mature {% endif %}{% if content_item.is_tentative %}event_tentative {% elif content_item.is_upcoming %}event_upcoming {% endif %} event_instance">
								<td>
									{% if cur_filter_type != 'type' %}<div>{{content_item.event.type}}</div>{% endif %}
									<div class="hovericons16 item_flags">
										{% for flag in content_item.flags.all %}
											<a href="{% url 'deerattend:filter_flag' flag.slug %}" title="Filter:  {{flag.name}}"><img src="{{flag.get_icon_url}}" alt="{{flag.name}}" title="{{flag.name}}" height="16" /></a>&nbsp;
										{% endfor %}
									</div>
								</td>
								<td class="col_main">
									<div class="related_content hovericons16">
										{% if content_item.report %}
											<a href="{{content_item.report.get_absolute_url}}" title="Event Report:  {{content_item.report.get_title}}"><img src="{{STATIC_URL}}images/icons/book.png" alt="Event Report" title="Event Report:  {{content_item.report.get_title}}" height="16" /></a>&nbsp;
										{% endif %}
										
										{% if content_item.photos %}
											<a href="{{content_item.photos.get_absolute_url}}" title="Event Photos:  {{content_item.photos.title}}"><img src="{{STATIC_URL}}images/icons/camera.png" alt="Event Photos" title="Event Photos:  {{content_item.photos.title}}" height="16" /></a>&nbsp;
										{% endif %}
										
										{% if can_edit %}
											<a href="{% url 'admin:deerattend_event_instance_change' content_item.pk %}"><img src="{{ STATIC_PREFIX }}images/icons/edit.png" alt="Edit" title="Edit" /></a>
										{% endif %}
									</div>
									<div>
										{% if content_item.is_tentative %}
											<div class="event_highlight">Tentative</div>
										{% elif content_item.is_upcoming %}
											<div class="event_highlight">Upcoming (Confirmed Appearance)</div>
										{% elif content_item.event.mature %}
											<div class="event_highlight">Mature Event (18+)</div>
										{% endif %}
										
										<div class="event_title"><a href="{% url 'deerattend:filter_event' content_item.event.slug %}">{{content_item}}</a></div>
										{% if content_item.notes %}
											<div class="subtext">{{content_item.notes}}</div>
										{% endif %}
									</div>
								</td>
								{% if cur_filter_type != 'venue' %}
									<td>
										<div>{{content_item.venue.get_city}}</div>
										<sub><a href="{% url 'deerattend:filter_venue' content_item.venue.slug %}">{{content_item.venue}}</a></sub>
									</td>
								{% endif %}
								<td>{{content_item.date_start|date:'M j, Y'}} - {{content_item.date_end|date:'M j, Y'}}</td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block content_right %}
	{% include 'deerattend/event_filters.html' %}
{% endblock %}