{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% if 'sidebar' in blockname %}
	{% for page in leaves %}
	<a href="{% url 'page_htm' page.cat.cached_url page.slug %}" title="{{page.get_title}} - {{page.body_summary}}" class="sidebar_link {% if page.featured and highlight_featured %}featured{% elif page.mature %}mature{% endif %}">
		<span class="sidebar_link_title">{{page.get_title}}</span>
		{% if page.featured and highlight_featured %}
			<br />
			<span class="sidebar_link_subtext">Featured</span>
		{% elif page.mature %}
			<br />
			<span class="sidebar_link_subtext">Mature Content</span>
		{% endif %}
	</a>
	{% empty %}
		<div><sub><em>No Articles</em></sub></div>
	{% endfor %}
	
{% elif 'main' in blockname %}
<div class="leaf_links_wrapper">
	{% for page in leaves %}
		{% if blockname == 'main_half' and forloop.counter > 4 %}
			{% comment %}<!-- Do nothing.  -->{% endcomment %}
		{% else %}
			<div class="leaf_link tall">
				<a href="{% url 'page_htm' page.cat.cached_url page.slug %}" title="{{page.get_title}}" {% if page.featured and highlight_featured %}class="featured"{% elif page.mature %}class="mature"{% endif %}>
					{% if page.featured and highlight_featured %}<span class="item_feature_mark"><img src="{{STATIC_PREFIX}}images/icons/featured24.png" alt="Featured" title="Featured" /></span>
					{% elif page.mature %}<span class="item_feature_mark"><img src="{{STATIC_PREFIX}}images/icons/mature24.png" alt="Mature" title="Contains Mature Content" /></span>{% endif %}
					
					<span class="item_summary_head"><span class="item_summary_title">{{page.get_title}}</span><br /> 
						{{page.display_times.0.label}}: {{page.display_times.0.timestamp}}
					</span>
					<span class="item_summary_body">{{page.body_summary}}</span>
				</a>
			</div>
		{% endif %}
	{% empty %}
		<div><sub><em>No Articles</em></sub></div>
	{% endfor %}
<br style="clear:left;" />
</div>
{% endif %}