{% extends "base.html" %}
{% block title %}{{block.super}}{% if page.title %} - {{page.get_title}}{% endif %}{% endblock %}
{% block desc %}{% if page.title %}{{page.body_summary}}{% else %}{{block.super}}{% endif %}{% endblock %}
{% block bg_image %} {% if page.cat.background %}{% include 'sunset/bg_image.html' with bg_tag='cat:'|add:page.cat.pk %}{% else %}{{block.super}}{% endif %} {% endblock %}

{% block content_left %}
	{% if page %}
		<div class="transbox fulltext_page">
			<div id="fulltext_page_title">
				{% if can_edit %}
					<div id="fulltext_page_title_extra">
						<div class="hovericons16">
							<a href="?{{page.featured|yesno:'unfeature,feature'}}=1" title="{{page.featured|yesno:'Unfeature,Feature'}} this item"><img src="{{ STATIC_PREFIX }}images/icons/{{page.featured|yesno:',un'}}featured16.png" alt="{{page.featured|yesno:',Not '}}Featured" title="{{page.featured|yesno:',Not '}}Featured" /></a> 
							{% if page.scheduled %}
								<a href="?unpublish=1" title="Unpublish this item"><img src="{{ STATIC_PREFIX }}images/icons/publish-scheduled.png" alt="Scheduled - Will be published on {{page.timestamp_post|date:'F j, Y  G:i:s'}}" title="Scheduled - Will be published on {{page.timestamp_post|date:'F j, Y  G:i:s'}}" /></a> 
							{% else %}
								<a href="?{{page.published|yesno:'unpublish,publish'}}=1" title="{{page.published|yesno:'Unpublish,Publish'}} this item"><img src="{{ STATIC_PREFIX }}images/icons/publish-{{page.published|yesno:'on,off'}}.png" alt="{{page.published|yesno:',Not '}}Published" title="{{page.published|yesno:',Not '}}Published" /></a> 
							{% endif %}
							<a href="{% url 'admin:deerbooks_page_change' page.pk %}"><img src="{{ STATIC_PREFIX }}images/icons/edit.png" alt="Edit" title="Edit" /></a>
						</div>
						<span class="secondary_time">{{page.display_times.1.label}}:  {{page.display_times.1.timestamp|date:'F j, Y  G:i:s'}}</span>
					</div>
				{% endif %}

				<div id="fulltext_page_title_main"><h2>{{page.get_title}}</h2>
				<div id="byline">{{page.display_times.0.label}}:  {{page.display_times.0.timestamp|date:'F j, Y  G:i:s'}} &bull; {{page.body|wordcount}} words</div>
				</div>
			</div>
			
			<div class="fulltext_page_body">
				{% autoescape off %}
					{% if "<p>" in page.body or "<br />" in page.body %}
						{{page.body}}
					{% else %}
						{{page.body|linebreaks}}
					{% endif %}
				{% endautoescape %}
			</div>
		</div>
	{% else %}
		<div class="transbox left_sidebar">
			{% load errors %}
			{% error_display error %}
		</div>
	{% endif %}
{% endblock %}

{% block content_right %}
	{% if page %}
		<div class="right_sidebar">
			{% comment %}<!-- Table of Contents -->{% endcomment %}
			{% if toc %}
				<div class="transbox right_sidebar_section">
					<h3>{{page.book_title.title}}</h3>
					<h5>Table of Contents</h5>
					<ol class="table_of_contents">
						{% for child in toc %}
							{% if child.pk == page.pk %}
								<li class="current_page">{{child.title}}</li>
							{% else %}
								<li><a href="{% url 'page_htm' child.cat.cached_url child.slug %}">{{child.title}}</a></li>
							{% endif %}
						{% endfor %}
					</p>
				</div>
			{% endif %}
			
			{% comment %}<!-- Alternate views and exported document files -->{% endcomment %}
			<div class="transbox right_sidebar_section">
				<h3>Download/Print</h3>
				<div class="page_icons hovericons32">
					{% if 'txt' not in alt_version_exclude %}<a href="{% if toc %}{% url 'book_txt' page.cat.cached_url page.book_title.slug %}{% else %}{% url 'page_txt' page.cat.cached_url page.slug %}{% endif %}"><img src="{{ STATIC_PREFIX }}images/icons/page-txt.png" alt="Plain Text" title="Plain Text" /></a>{% endif %}
					{% if 'md' not in alt_version_exclude %}<a href="{% if toc %}{% url 'book_md' page.cat.cached_url page.book_title.slug %}{% else %}{% url 'page_md' page.cat.cached_url page.slug %}{% endif %}"><img src="{{ STATIC_PREFIX }}images/icons/page-md.png" alt="Markdown" title="Markdown" /></a>{% endif %}
					{% if page.auto_export and 'tex' not in alt_version_exclude %}<a href="{% if toc %}{% url 'book_tex' page.cat.cached_url page.book_title.slug %}{% else %}{% url 'page_tex' page.cat.cached_url page.slug %}{% endif %}"><img src="{{ STATIC_PREFIX }}images/icons/page-tex.png" alt="LaTeX Source (.tex)" title="LaTeX Source (.tex)" /></a>{% endif %}
					{% if docfiles %}
						{% for file in docfiles %}
							<a href="{{file.get_url}}"><img src="{{ STATIC_PREFIX }}images/icons/page-{{file.filetype}}.png" alt="{{file.get_filetype_display}}" title="{{file.get_filetype_display}}" /></a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			
			{% comment %}<!-- External services -->{% endcomment %}
			<div class="transbox right_sidebar_section">
				<h3>External</h3>
				<div class="page_icons hovericons32">
					<a class="red" href="http://readability.com/save?url={{request.build_absolute_uri}}"><img src="{{ STATIC_PREFIX }}images/icons/service-readability.png" alt="Readability" title="Readability.com (External service)" /></a>
					<a class="grey" href="http://www.instapaper.com/hello2?url={{request.build_absolute_uri}}&title=Lupinia - {{page.title}}"><img src="{{ STATIC_PREFIX }}images/icons/service-instapaper.png" alt="Readability" title="Instapaper (External service)" /></a>
					<a class="red" href="https://getpocket.com/save?url={{request.build_absolute_uri}}&title=Lupinia - {{page.title}}"><img src="{{ STATIC_PREFIX }}images/icons/service-pocket.png" alt="Pocket" title="Pocket (External service)" /></a>
				</div>
			</div>
			
			{% comment %}<!-- Tags -->{% endcomment %}
			{% if tags %}
				{% include 'deertrees/taglist_sidebar.html' %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}